[2017-02-06 13:15] jchannon opened #1 "Merge projects?"
Fancy adding this stuff to C# Extensions? https://marketplace.visualstudio.com/items?itemName=jchannon.csharpextensions

[2017-02-06 13:25] Leopotam commented on #1
not sure yet what it will be in future, maybe full custom style formatter, maybe not (depends on omnisharp progress). now migrating dirty code to js-beautify with custom config + sort usings.

[2017-02-07 09:52] #1 closed

[2017-02-09 14:59] netpyoung opened #2 "malfunction about `#region `"
[code]
will changed

[code]

but it's not correct.

[2017-02-09 15:03] Leopotam commented on #2
Should region / endregion respect "styleIndentPreprocessorIgnored" option or always be indented?

[2017-02-09 15:24] Leopotam commented on #2
fixed in 0.0.12

[2017-02-09 15:24] #2 closed

[2017-02-09 21:31] fergalmoran opened #3 "Breaks interpolated strings"
Nice plugin, one small issue. It adds a space after the $ in interpolated strings

`var foo = $"Hello {sailor}";`
becomes
`var foo = $ "Hello {sailor}";`

causing a compilation error.

[2017-02-09 22:32] Leopotam commented on #3
fixed in 0.0.13.

[2017-02-09 22:32] #3 closed

[2017-02-09 23:14] Leopotam commented on #3
@fergalmoran, if it works for you, can you write review at marketplace, please? :)

[2017-02-09 23:15] Leopotam commented on #2
@netpyoung, if it works for you, can you write review at marketplace, please? :)

[2017-02-10 01:22] netpyoung commented on #2
why not 😄

[2017-02-11 17:36] fergalmoran commented on #3
Works perfectly @Leopotam - thanks for the quick turnaround.

[2017-02-13 21:18] skryshi opened #4 "Feature request"
Thank you for making this plugin!

I have a feature request. Some C# formatting by OmniSharp is wonky. Take a look at this snippet:

T data =
        default (T);
      yield
      return null;

It's got four lines instead of two. This is how it's ought to format:

T data = default (T);
yield return null;

Is this something you can add to the plugin?

[2017-02-14 11:49] Leopotam commented on #4
@skryshi can you check last state of develop branch? is issue fixed for you?

[2017-02-14 12:08] Leopotam commented on #4
fixed in 0.0.15.

[2017-02-14 12:08] #4 closed

[2017-02-14 13:13] Leopotam commented on #4
@skryshi can you confirm that issue fixed in 0.0.15?

[2017-02-14 16:50] skryshi commented on #4
Confirm. Thank you for quick turnaround!

[2017-02-14 17:16] Leopotam commented on #4
@skryshi if this extension useful for you, can you write review at marketplace, please? :)

[2017-02-14 23:37] skryshi commented on #4
Done )

[2017-03-13 18:59] skryshi opened #5 "Broken format for "var a = new Dictionary<string, string> ();""
## Environment data
C# FixFormat extension version:

0.0.15

## Steps to reproduce

type in this code `var a = new Dictionary<string, string> ();` and run Fix Format command

## Expected  behavior

`var a = new Dictionary<string, string> ();`

## Actual behavior

[code]

[2017-03-13 19:05] Leopotam commented on #5
confirmed. temporary workaround - use full type signature instead of "var" keyword.

[2017-03-13 21:37] Leopotam commented on #5
@skryshi can you confirm that issue fixed in 0.0.16?

[2017-03-13 22:20] skryshi commented on #5
Fixed, thank you! You are fast )

[2017-03-13 22:20] #5 closed

[2017-03-20 13:36] umutozel opened #6 "Adds a space before paranthesis for generic methods"
## Environment data
### C# FixFormat extension version:
0.0.18

### VsCode version:
1.10.2

## Steps to reproduce
Any generic method:
public TOut Map<TIn, TOut> (TIn inObj)

## Expected  behavior
Should not add space after > (generic definition close) when csharpfixformat.style.spaces.beforeParenthesis is false

## Actual behavior
Adds a space before paranthesis

[2017-03-20 13:54] Leopotam commented on #6
@umutozel can you check 0.0.19 release? is issue fixed?

[2017-03-20 15:40] umutozel commented on #6
I've just updated to 0.0.19 and it works. Thank you.

[2017-03-20 15:40] #6 closed

[2017-03-23 11:52] umutozel opened #7 "Broken format for generic variable"
## Environment data
### C# FixFormat extension version:
0.0.19

### VsCode version:
1.10.2

## Steps to reproduce
Create a generic variable with options:
    "csharpfixformat.style.spaces.beforeIndexerBracket": false,
    "csharpfixformat.style.spaces.beforeParenthesis": false,
    "csharpfixformat.style.spaces.beforeBracket": false,
    "csharpfixformat.style.spaces.afterBracket": false,
    "csh

[2017-03-23 13:46] Leopotam commented on #7
@umutozel can you check develop branch? installation instructions at readme.

[2017-03-23 15:32] umutozel commented on #7
It works now thanks, you are really fast 👍

[2017-03-23 15:32] #7 closed

[2017-03-23 15:33] umutozel commented on #7
I closed the issue, should I have waited for the package release?

[2017-03-23 16:26] Leopotam commented on #7
0.0.20 published, thanks.

[2017-04-25 22:11] bernardbr opened #8 "The "cleaner" is erroneously formatting the literal string"
Hi!

I catched a problem when we have literal strings in source code.

Thanks!

## Environment data
### C# FixFormat extension version:
0.0.20

### VsCode version:
Version 1.11.2
Commit 6eaebe3b9c70406d67c97779468c324a7a95db0e
Date 2017-04-13T08:03:11.395Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

## Steps to reproduce

Write a const like this:
[code]

Do the clean "Ctrl + Alt + I"

## Expect

[2017-04-25 22:22] Leopotam commented on #8
@bernardbr for temporary fix you can use ignore-wrapper:
[code]

[2017-04-25 22:27] bernardbr commented on #8
Thanks!

[2017-04-25 23:02] Leopotam commented on #8
@bernardbr, can you check develop branch? is issue fixed for you?

[2017-04-25 23:13] bernardbr commented on #8
Hello @Leopotam I did this:

- Uninstall the public version
- Install node.js.
- Run "npm install" from project folder.
- Run "npm run package" from project folder.
- Install brand new packed *.vsix bundle through vscode plugins menu option "Install from VSIX".

And try again. But the behavior is the same of the public version...

[2017-04-25 23:14] Leopotam commented on #8
@bernardbr dont forget - "develop" branch, not "master" (default).

[2017-04-25 23:20] bernardbr commented on #8
@Leopotam Sorry, my fault. I forgot -b param...

It's perfect! Works fine! Thank you very much!

[2017-04-25 23:22] Leopotam commented on #8
@bernardbr, if it works for you, can you write review at marketplace, please? :)

[2017-04-25 23:22] #8 closed

[2017-04-25 23:22] bernardbr commented on #8
Of course!

[2017-04-25 23:27] Leopotam commented on #8
@bernardbr, 0.0.21 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-04-26 00:00] bernardbr opened #9 "Suggestion: Create a functionality to organize the class alphabetically by the access."
It's only a suggestion. But in the next versions the Fixer could bring us a functionality to organize the class alphabetically by the access.

Something like this:

[code]

I know this is a big feature and maybe it's very complicated to implement. But it really would be an incredible feature.

Many thanks for your great work on this plugin!

[2017-04-26 00:07] Leopotam commented on #9
Problem is - its not real c# tokenizer / parser to AST tree, its stupid linear formatter of sequenced symbols + alot of regular expression replacements.
Requested feature should be realized as part of official C# plugin with real AST analysing / sorting. Better to open issue at [their repo](https://github.com/OmniSharp/omnisharp-vscode).

[2017-04-26 00:09] Leopotam commented on #9
Btw, "usings" sorting - just hack of text lines without real C# parsing. :)

[2017-04-26 00:14] Leopotam commented on #9
For this feature i should write 100% valid parser / analyzer of C# code (with support all C# versions) - not sure that its good idea due to there is official C# plugin from Microsoft with huge team working on it. Maybe, some day, but im not sure when this time will come...

[2017-04-26 00:21] bernardbr commented on #9
I'm using the "using statement sorting" =)

I understood your position and I will open it to Omni sharp.

I opened it here because visual studio have a plugin called CodeMaid and it do something like I described. But I don't know how code maid do this.

Thanks for your attention and thanks for your great plugin!

I'm closing this issue!

[2017-04-26 00:21] #9 closed

[2017-04-26 00:25] Leopotam commented on #9
@bernardbr, thanks for understanding.

Problem is - i have no access to any .net class metainfo as omnisharp / mono / visualstudio environment. Current plugin - only space / newline fixer for any text that looks like as C# code (it even cant check that this "code" is valid or not).

[2017-04-29 02:10] Kris- opened #10 "[Suggestion] Empty line after csharpfixformat.style.braces.onSameLine"
Add an option for an empty line after the K&R opening bracket.

Example:
[code]

[2017-04-29 02:12] Kris- commented on #10
I only want this for classes and function openings, not if statements and such.

Great extension otherwise. 10/10

[2017-04-29 07:01] Leopotam commented on #10
@Kris- you can use csharpfixformat.style.braces.allowInlines=false for this behaviour.

[2017-04-29 12:22] Leopotam commented on #10
Its not possible in current implementation due to its not real c# parser, but most regexp textual fixer. There are no context differences between body of function or body of conditional / loop expressions.

[2017-04-29 16:23] Kris- opened #11 "[Issue] Verbatim interpolated string literal breaks after fixing format"
## Environment data
### C# FixFormat extension version:
0.0.21

### VsCode version:
1.11.2

## Steps to reproduce
1) Write a string
[code]

2) Fix format

## Expected  behavior
[code]

## Actual behavior
[code]
Note the space between $@.

Error CS1056: Unexpected character `$'

[2017-04-29 21:45] Leopotam commented on #11
@Kris- can you develop branch? is issue fixed for you?

[2017-04-29 21:45] #10 closed

[2017-04-30 07:34] Leopotam commented on #11
@Kris- no feedback, so, 0.0.22 released on official marketplace, you can check it, thanks.

[2017-04-30 07:34] #11 closed

[2017-05-02 21:50] bruce31 opened #12 "Problems with formatting of c#7 out variables in Dictionary.TryGetValue"
## Environment data
### C# FixFormat extension version:
0.0.21

### VsCode version:
1.11.2

C# for Visual Studio Code (powered by OmniSharp) 1.9.0

## Steps to reproduce
Set K&R bracket formatting (not sure if relevant to issue)
use c#7 out var name  syntax in a dictionary TryGetValue expression and then format document

## Expected  behavior
            if (!dict.TryGetValue (key, out var value))

[2017-05-02 21:52] bruce31 commented on #12
still an issue in 0.0.22

[2017-05-02 22:18] Leopotam commented on #12
@bruce31 can you check develop branch? is issue fixed for you?

[2017-05-02 22:55] bruce31 commented on #12
Yes that seems to have fixed it.
Thanks for quick response.

[2017-05-03 06:02] Leopotam commented on #12
@bruce31 0.0.23 released on official marketplace, you can uninstall custom package and install public release.
thanks for feedback. 👍

[2017-05-03 06:02] #12 closed

[2017-05-15 18:19] fergalmoran opened #13 "Interpolated strings containing double quotes"
## Environment data
### C# FixFormat extension version:
0.0.24

### VsCode version:
1.13.0-insider

## Steps to reproduce
Auto format file with interpolated strings containing double quotes

## Expected  behavior
Interpolated string to remain unchanged

## Actual behavior
This
![image](https://cloud.githubusercontent.com/assets/309139/26072418/54c45652-39a3-11e7-95dc-1887ef5ff129.png)

Becomes thi

[2017-05-16 09:58] Leopotam commented on #13
@fergalmoran can you check develop branch? is issue fixed for you?

[2017-05-16 18:21] fergalmoran commented on #13
Sorry @Leopotam but how do I install an extension from github?

[2017-05-16 18:26] fergalmoran commented on #13
Works perfectly, thanks @Leopotam !!

[2017-05-16 18:26] #13 closed

[2017-05-16 18:54] Leopotam commented on #13
@fergalmoran 0.0.25 released in marketplace, you can remove custom build from develop branch.

[2017-06-05 19:42] fergalmoran opened #14 "Multi-line parameters extra-tabbed"
## Environment data
### C# FixFormat extension version:
0.0.26

### VsCode version:
1.14.0-insider

## Steps to reproduce
Format this code block
[code]

## Expected  behavior
Code to stay as it is

## Actual behavior
Second and subsequent arguments are extra-tabbed
[code]
This happens for parameters as properties.

[2017-06-06 10:55] Leopotam commented on #14
Bad news, but i have no time to work on this plugin anymore (i switched to rider personally). Right now i can only suggest you to split this expression to 2 parts: instance creation and fields initialization below. Another solution - set valid indents for all fields and wrap whole expression with "fixformat ignore" helper (you can find example at README). Cant say when i can fix this issue, sorry.

[2017-06-06 17:15] fergalmoran commented on #14
Thanks for the update @Leopotam - hopefully VS code will allow this without a plugin soon!!

As a matter of interest, why did you switch to Rider? I try it again every time there's an update but I find it really buggy. I can't even build File-New Console App in the latest EAP?

[2017-06-06 17:55] Leopotam commented on #14
@fergalmoran can you check code from develop branch?
About rider - it much faster now than was few months ago and it supports overrides popup without issues. About "console app" - i dont know, i use vscode / rider on osx only as unity engine development ide.

[2017-06-07 10:02] Leopotam commented on #14
@fergalmoran - no feedback, looks like issue fixed. v0.0.27 released.

[2017-06-07 10:02] #14 closed

[2017-06-07 18:22] fergalmoran commented on #14
Sorry @Leopotam , only seeing your response now.
FWIW: it's not actually fixed, just different.

[code]
formats as
[code]

[2017-06-07 20:31] Leopotam commented on #14
@fergalmoran cant reproduce it, on my test all lines were formatted correctly:
[code]
vscode 1.12.2 (public release), default plugin config.

[2017-07-18 20:28] bernardbr opened #15 "OmniSharp stop works when I try Format file on a large project."
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\1.0.4

### C# FixFormat extension version: 0.0.29
### VsCode version:: 1.11.0

## Steps

[2017-07-18 22:45] Leopotam commented on #15
@bernardbr can you provide example code that slowdown / freeze vscode?

[2017-07-19 11:19] Leopotam commented on #15
@bernardbr 0.0.30 released on official marketplace, can you check new version on your files?

[2017-07-19 12:49] bernardbr commented on #15
Hello @Leopotam I tested with the new version here and it looks like it came back working properly. Thank you very much!

[2017-07-19 12:50] #15 closed

[2017-08-09 16:47] bruce31 opened #16 "Strange mangling of commented code that uses string interpolation"
## Environment data
### C# FixFormat extension version: 0.0.30
### VsCode version: 1.14.2

## Steps to reproduce
Take a commented piece of code that uses string interpolation
[code]
and format it.
__vscode_pp_lerp_ strings are introduced.
I can only reproduce for commented code but I think I have occasionally had it in active code.

## Expected  behavior
[code]
## Actual behavior
[code]

[2017-08-09 17:57] Leopotam commented on #16
@bruce31 can you check develop branch? is issue fixed for you?

[2017-08-10 19:26] Leopotam commented on #16
@bruce31 no feedback, closed as fixed. 0.0.31 release on marketplace.

[2017-08-10 19:26] #16 closed

[2017-08-11 17:47] bruce31 commented on #16
Tested 0.0.31 with no issues on vscode 1.15.0
Thank you

[2017-08-14 21:13] kingscott00 opened #17 "Format command not following format provider model"
The command palette command for formatting is currently "CSharp: Fix Format", but the model for registered format providers is for the command to be "Format Document" command.

Discussed this with vscode team in [VSCode issue 32497](https://github.com/Microsoft/vscode/issues/32497)

Reference: [VSCode formatting doc](https://code.visualstudio.com/docs/editor/codebasics#_formatting)

[2017-08-15 07:05] Leopotam commented on #17
@kingscott00 this plugin cant follow to "Format Document" command, because it is usually used with another plugin - "C# omnisharp", that already registering some sort of formatting. Vscode not supports neither priority of multiple formatters for one file type, nor ability to force disable formatting registration for specified plugin after install. Its why this plugin use another command for custom

[2017-08-15 07:29] Leopotam commented on #17
@kingscott00 old issue - [VSCode issue 11609](https://github.com/Microsoft/vscode/issues/11609), still no final decision how to do it.

[2017-08-15 07:31] #17 closed

[2017-08-15 07:45] Leopotam commented on #17
Behaviour can be changed only after solving this [omnisharp-vscode issue 1711](https://github.com/OmniSharp/omnisharp-vscode/issues/1711).

[2017-08-24 09:14] Leopotam commented on #17
@kingscott00 #1735

[2017-08-24 09:15] Leopotam commented on #17
@kingscott00 [omnisharp-vscode PR](https://github.com/OmniSharp/omnisharp-vscode/issues/1735).

[2017-08-24 20:16] Leopotam commented on #17
@kingscott00 PR approved, i will start to work on following with standard formatting provider model after new version of omnisharp-vscode extension will be released (0.13.xx).

[2017-08-26 23:13] scriptorum opened #18 "No-Parenthesis ForEach loops: second line not indented"
## Environment data
### C# FixFormat extension version:
0.0.31

### VsCode version:
1.15.1

## Steps to reproduce
Run "Fix" on a `foreach` loop without parentheses and a statement on the second line. The second line is de-indented to line up with the foreach.

![fixformat](https://user-images.githubusercontent.com/3144427/29745765-21e0aa16-8a92-11e7-911d-6882f26b3bd7.gif)

This formats correctly i

[2017-08-27 07:33] Leopotam commented on #18
@scriptorum can you check develop branch? is issue fixed for you?

[2017-08-27 15:25] scriptorum commented on #18
Yes, it's fixed. Thanks!

[2017-08-27 15:25] #18 closed

[2017-08-27 16:56] Leopotam commented on #18
@scriptorum 0.0.32 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-08-28 12:52] scriptorum commented on #18
You know I said parenthesis but of course I meant braces. Dur.

[2017-08-28 12:58] Leopotam commented on #18
@scriptorum yep, just copy&pasted your sentence, my bad. :D

[2017-09-07 19:44] bsell93 opened #19 "Feature Request: Format On Save"
Is it possible to hook into the format on save functionality that is built into VSCode. I believe Beautify extension is doing this now https://github.com/HookyQR/VSCodeBeautify/issues/59.

[2017-09-07 23:00] Leopotam commented on #19
@bsell93 now its not possible due it not supported on omnisharp extension side in actual public build, you can check messages / links at another issue: #17

[2017-09-10 16:06] AlexHankins opened #20 "Feature request: Only format selected lines"
If this feature already exists, could you point me to it?

## Environment data
### C# FixFormat extension version:
0.0.32

### VsCode version:
1.16.0

## Steps to reproduce
Open a poorly formatted file, select some lines, right click, CSharp: Fix format.

## Expected  behavior
It would be awesome and appreciated if it only changed the selected lines.

## Actual behavior
Formats the entire file.

[2017-09-10 16:36] Leopotam commented on #20
There are no format for selection and not planned due you cant get valid indentation for selected only lines. In new releases formatter will support automatic code reformatting on file save / copy&paste, so, selection will doesnt matter.

[2017-09-10 16:37] #20 closed

[2017-09-11 16:24] bernardbr opened #21 "The "cleaner" is erroneously formatting the formated-literal string"
Hi @Leopotam !

I caught a problem when we have literal strings in source code. This issue  is similar to this one #8
Thanks!

## Environment data
### C# FixFormat extension version:
0.0.32

### VsCode version:
Version 1.16.0
Commit 787b31c0474e6165390b5a5989c9619e3e16f953
Date 2017-09-06T16:27:49.891Z
Shell 1.7.3
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

## Steps to reproduce

Write a m

[2017-09-11 17:22] Leopotam commented on #21
@bernardbr can you check develop branch? is issue fixed for you?

[2017-09-11 18:06] bernardbr commented on #21
Hello @Leopotam I did this:

Uninstall the public version
git clone -b develop https://github.com/Leopotam/vscode-csharpfixformat.git
Run "npm install" from project folder.
Run "npm run package" from project folder.
Install brand new packed *.vsix (0.0.33) bundle through vscode plugins menu option "Install from VSIX".

But the behavior was the same of the public version...

Here my settings for th

[2017-09-11 18:23] Leopotam commented on #21
@bernardbr btw, why you use csharpfixformat.style.activateDefaultFormatterAfter? You will lose all custom formatting after this (useful only if you want to sort usings). Now it looks like broken when working in last vscode (calling default formatter), this settings will be deprecated when plugin will changed to work as default formatter. Now - better to to remove this settings.
About issue - i can

[2017-09-11 19:06] bernardbr commented on #21
@Leopotam I'm using this setting a long time. I'll try to disable this...

I do all the steps that you asked and got the same behavior.

I've created a repo to reproduce the problem.

https://github.com/bernardbr/fixFormat-example

[2017-09-11 19:18] Leopotam commented on #21
@bernardbr ok, i see, problem in multiline. Are you sure that you really want this behaviour (with alot of spaces as indents)?

[2017-09-11 19:27] bernardbr commented on #21
Unfortunately yes... =(
I'm writing a database provider and using ```$@``` to format the scripts to run on the database.

[2017-09-11 19:30] Leopotam commented on #21
@bernardbr looks like it hard to fix it without full ast parsing (now its just alot of regexp postfixes). Ill try to find solution, but no promises. For my use case - better to ban all C# features after fw3.5 ;)

[2017-09-11 19:32] bernardbr commented on #21
lol!
Not a problem @Leopotam, in this case, I'll continue to use the comment to prevent the behavior!
Thank you for your attention to this matter! =D

[2017-09-11 19:42] Leopotam commented on #21
@bernardbr you can fix current issue if you will remove all internal double quotes (move string.Join() methods outside from interpolated string and use as variables).

[2017-09-11 21:19] Leopotam commented on #21
@bernardbr can you check develop branch? is issue fixed for you? da5e5af1005f31654ed4798338b3b1cfc2392e62

[2017-09-11 21:41] bernardbr commented on #21
Works perfectly! You're the best!
Thanks...
I got a new issue, can I report here or you prefer a new one?

[2017-09-11 21:42] Leopotam commented on #21
@bernardbr if its related thing - here, otherwise - new one.

[2017-09-11 21:46] bernardbr commented on #21
I don't know if it is related...

I put a ```where``` for a generic parameter in my class and the formatting won't work fine...

[2017-09-11 21:48] Leopotam commented on #21
@bernardbr inside template string? Now all content inside string (due it string :) ) will not be formatted at all, you should fix it by yourself.

[2017-09-11 21:50] bernardbr commented on #21
No... Where in class:
[code]

I put the example in my repro repo...

[2017-09-11 21:54] Leopotam commented on #21
@bernardbr looks like different issue from current one. You can use gists for short code examples, no need to create repos or something like this.

[2017-09-11 21:56] bernardbr commented on #21
OK!
I'll open a new one with the example!

[2017-09-11 21:57] #21 closed

[2017-09-11 23:09] bernardbr opened #22 "The extension does a wrong format when a class with generic parameter has a "where" clause."
## Environment data
### C# FixFormat extension version:
0.0.33

### VsCode version:
Version 1.16.0
Commit 787b31c0474e6165390b5a5989c9619e3e16f953
Date 2017-09-06T16:27:49.891Z
Shell 1.7.3
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

## Steps to reproduce
Write a class like this:
[code]

## Expected  behavior

The ```{``` keep aligned with ```public class```. This is the default behavior of

[2017-09-12 10:09] Leopotam commented on #22
@bernardbr can you check develop branch? is issue fixed for you? 0ed38b861bf31a0de35688b2e8ed037fc9cfb91f

[2017-09-12 12:34] bernardbr commented on #22
It works!
Thank you SO much @Leopotam!

[2017-09-12 12:42] Leopotam commented on #22
@bernardbr 0.0.33 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-09-12 15:42] bernardbr commented on #22
Hello @Leopotam!
I caught a situation that I believe is a reflection of this adjustment!

[code]

If you try fix code format the indentation will be wrong.

[2017-09-12 22:14] Leopotam commented on #22
@bernardbr fix reverted - some cases were broken, cant fix it fast without AST context. Suggestion: put all constraints on same line:
[code]
It will work on 0.32 version and 0.34.

[2017-09-12 22:16] bernardbr commented on #22
Ok! For now, I'll do it!
Thx!

[2017-09-30 02:31] jarommadsen opened #23 "Add option to use tabs instead of spaces"
## Environment data
### C# FixFormat extension version:
0.0.34

### VsCode version:
1.16.0

## Steps to reproduce
- Open Command Palette
- Run Fix Format command

## Expected  behavior
- Not replace tabs

## Actual behavior
- Replaces tabs with spaces

## Notes:
Please add an option to format using tabs instead of spaces. It would also be nice to determine tab/space size.

[2017-09-30 09:34] Leopotam commented on #23
@jarommadsen can you check last state of develop branch (0.0.35)? is issue fixed for you?

[2017-09-30 09:36] Leopotam commented on #22
Marked as "known issues". :(

[2017-09-30 09:36] #22 closed

[2017-09-30 16:26] jarommadsen commented on #23
It's fixed in develop branch! Thanks for the quick response!

[2017-09-30 19:05] Leopotam commented on #23
0.0.35 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-09-30 19:06] #23 closed

[2017-09-30 19:06] Leopotam commented on #23
@jarommadsen if it works for you, can you write review at marketplace, please? :)

[2017-09-30 19:21] jarommadsen commented on #23
👍

[2017-09-30 21:05] moskal91 opened #24 "Disabling space before parenthesis does not work for typeof()"
## Environment data
### C# FixFormat extension version: 0.0.35

### VsCode version: 1.16.1

## Steps to reproduce
1. Add configuration option:
[code]
2. Type code:
[code]
3. Launch C# FixFormat
## Expected  behavior
Code formatted as (no change):
[code]

## Actual behavior
Code formatted as (space after `typeof`):
[code]

[2017-09-30 21:22] Leopotam commented on #24
@moskal91 can you check last state of develop branch (0.0.36)? is issue fixed for you?

[2017-10-01 09:31] Leopotam commented on #24
no feedback, closed as fixed. 0.0.36 version released on marketplace.

[2017-10-01 09:31] #24 closed

[2017-10-01 12:46] moskal91 commented on #24
@Leopotam Awesome, I had not expected such fast response. It is working now, thanks!

[2017-10-10 10:31] seoriy opened #25 "Proposition: set "csharpfixformat.style.braces.onSameLine: false" by default"
subj. Because it's more common practice to put open brace on a new line rather than on the same line.
class Test
{
  // for example
}

[2017-10-10 10:48] Leopotam commented on #25
Its not "more common" practice, but project dependent settings. For example, [mono project](https://github.com/mono/mono) use braces on same line. Is your project larger than mono?

[2017-10-10 10:48] #25 closed

[2017-10-11 09:53] Siccity opened #26 "Feature Request: Newline formatting options"
By default, C# FixFormat places open braces on new lines
like this:
[code]
A lot of users prefer having their open braces on the same line
like this:
[code]

[2017-10-11 09:58] #26 closed

[2017-10-11 09:59] Leopotam commented on #26
Its not true, its how Omnisharp plugin works (default C# formatter). For using formatting feature of this plugin you should use special hotkey, described at readme page. You can even change this hotkey at your user settings.
Why not default hotkey? Because current version of Omnisharp force use it and ignore other plugins. I sent PR to omnisharp plugin one month ago, they approved it. When they wi

[2017-10-11 14:27] seoriy commented on #25
Off-course it depend on project's code convention. But if you look at code examples in msdn or Microsoft code conventions or .NET Framework sources - there is common to use braces from new line for classes, struct, blocks, etc. Look inside .NET Core sources also, and ASP.NET, Entity Framework, etc
Is Mono larger than .NET Framework? I don't think so.
Look at other most famous projects like NLog, N

[2017-10-11 14:46] Leopotam commented on #25
1. It will break default settings for all guys who installed this plugin before (63570 installs nowadays).
2. Its my default codestyle for multiple projects.
3. You can change settings all settings as you want and create your own style (and share to teammates through .vscode folder sharing / putting it to repo).
Or you can use default omnisharp formatter - its from microsoft guys who works on rosl

[2017-10-11 15:03] seoriy commented on #25
1. Okay, this is an argument
4. Hm, seems like he is from Unity3D/Mono world too... I'm wondering, where did you guys got that convention? Even in examples in Mono and Unity3D docs rule "brace on new line" used too - http://www.mono-project.com/docs/getting-started/mono-basics/ or https://unity3d.com/ru/learn/tutorials/topics/scripting/activating-gameobjects?playlist=17117 i.e.

[2017-10-11 15:07] Leopotam commented on #25
@seoriy you can even fork this repo and tweak it as you want - its how opensource works. For this repo default settings will be inited as is.

[2017-10-14 06:44] Siccity opened #27 "Number suffixes formatting"
Unity has a builtin class named Matrix4x4.
My line of code `Matrix4x4 m = GUI.matrix;` gets formatted into `Matrix4x4m = GUI.matrix;`
![image](https://user-images.githubusercontent.com/6402525/31573418-91287aee-b0bb-11e7-92c9-3a7fd505bbca.png)

[2017-10-14 09:56] Leopotam commented on #27
@Siccity can you check last state of develop branch? is issue fixed for you?

[2017-10-14 16:45] Siccity commented on #27
That fixed the original issue but spawned a new.
This time it's the float values.
![image](https://user-images.githubusercontent.com/6402525/31577488-b74d8c38-b10f-11e7-95fc-e5dd6ae9dc6f.png)

[2017-10-14 17:49] Leopotam commented on #27
@Siccity can you check last state of develop branch again?

[2017-10-14 18:47] Siccity commented on #27
It seems to work now.

[2017-10-14 19:05] Leopotam commented on #27
@Siccity 0.0.37 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-10-15 19:35] Siccity commented on #27
Following this update i encountered a new bug which might be related:
![image](https://user-images.githubusercontent.com/6402525/31588333-a02f9640-b1f0-11e7-863b-b40473cfc87e.png)

[2017-10-15 21:49] Leopotam commented on #27
@Siccity can you check last state of develop branch?

[2017-10-16 08:27] Siccity commented on #27
That seems to have fixed it.

[2017-10-16 09:00] Leopotam commented on #27
@Siccity any new issues relative to this fix?

[2017-10-16 09:43] Siccity commented on #27
Not from what I can see. I ran FixFormat on a bunch of my scripts and it seems to work fine in all cases. If i run into something I'll notify you.

[2017-10-16 10:30] Leopotam commented on #27
@Siccity 0.0.38 released on official marketplace, you can uninstall custom package and install public release.

[2017-10-16 10:30] #27 closed

[2017-11-01 08:29] bgdnr opened #28 "Keybinding on macOS"
C# FixFormat extension version: 0.0.38
VsCode version: 1.17.2

Is there a key biding for Visual Studio Code on macOS?
From the details notes I can see that on Windows it's ctrl+alt+i, however this shortcut is not applicable on mac.

[2017-11-01 08:31] Leopotam commented on #28
@bgdnr my main platform is osx, so, its applicable. You can name "alt" as "option", but even on apple keyboard there is "alt" label.

[2017-11-01 08:52] bgdnr commented on #28
Hmmm...that's strange. I swear it didn't worked a few minutes ago. Anyway, thanks for the reply.

[2017-11-01 08:52] #28 closed

[2017-11-07 13:53] Leopotam commented on #19
@bsell93 implemented in 0.0.39 version as default FormatProvider (with default formatting, format on paste, format on save, etc). You can test it with code from develop branch of this repo and omnisharp plugin from their [master branch](https://github.com/OmniSharp/omnisharp-vscode/tree/master) (0.13 version still not released).

[2017-11-07 13:55] Leopotam commented on #17
@kingscott00 implemented in 0.0.39 version as default FormatProvider (with default formatting, format on paste, format on save, etc). You can test it with code from develop branch of this repo and omnisharp plugin from their master branch (0.13 version still not released).

[2017-11-08 08:15] Leopotam commented on #19
@bsell93 0.0.39 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-11-08 08:15] #19 closed

[2017-11-08 08:19] Leopotam commented on #17
@kingscott00 0.0.39 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-11-08 13:48] bsell93 commented on #19
@Leopotam sweet! Thanks!

[2017-11-09 03:25] wulei opened #29 "command 'csharpfixformat.process' not found"
## Environment data
### C# FixFormat extension version:
v0.0.39

### VsCode version:
1.18.0

## Steps to reproduce

## Expected  behavior

## Actual behavior

command 'csharpfixformat.process' not found

[2017-11-09 07:17] Leopotam commented on #29
@wulei read description at README.md - now extension works as default FormatProvider and uses default hotkeys / command for format document / format on save, on paste, on type, etc - no more custom hotkeys / commands.

[2017-11-09 09:13] #29 closed

[2017-11-10 14:07] bernardbr opened #30 "Problems when try to format Enum"
## Environment data
### C# FixFormat extension version: 0.0.39
### VsCode version:
Version 1.18.0
Commit dcee2202709a4f223185514b9275aa4229841aa7
Date 2017-11-08T21:22:49.932Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

## Steps to reproduce
Try to format this enum:

[code]
## Expected  behavior
The format works correct!

## Actual behavior
It will be formated as:
[code]

[2017-11-10 14:16] Leopotam commented on #30
@bernardbr cant reproduce, on empty c# file with your code it works as must. As nested enum type to class - works too. Looks like there is side effect of something else.

[2017-11-10 20:43] bernardbr commented on #30
@Leopotam maybe it sounds crazy, but only on my project, the problem occurs...

Could you try to reproduce in my project? https://github.com/Alterdata/NCalc-NetCore.git

In this case, please, open "EvaluationOption.cs" file, and press ```Shift``` + ```Alt``` + ```F```

Thanks!

[2017-11-10 22:34] Leopotam commented on #30
@bernardbr [it works on my side](https://youtu.be/U_xxMuYlDWw). Maybe problem in settings? I added only one tweak (without any others) to follow your codestyle:

[2017-11-11 14:15] bernardbr commented on #30
This is my settings:
[code]

[2017-11-11 15:51] Leopotam commented on #30
@bernardbr looks like i found problem - your file indented with tabs instead of spaces. If its wrong, you can fix it with disabling autodetect indent character by vscode and force set to use spaces or tabs:

For tabs issue should be fixed too, can you check last develop branch on your side?

[2017-11-11 17:04] bernardbr commented on #30
Thanks @Leopotam
Sorry I haven't seen it!

[2017-11-11 17:04] bernardbr commented on #30
Thanks @Leopotam
Sorry I haven't seen it!

[2017-11-11 17:07] Leopotam commented on #30
@bernardbr update in develop branch fixed this issue?

[2017-11-12 01:58] bernardbr commented on #30
It worked fine with develop branch!
Thank you very much!

[2017-11-12 09:42] Leopotam commented on #30
@bernardbr 0.0.40 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-11-12 09:42] #30 closed

[2017-11-12 23:07] apkd opened #31 "spaces.beforeParenthesis:false takes priority over spaces.afterParenthesis:true"
## Environment data
### C# FixFormat extension version:
0.0.39
### VsCode version:
1.17.2

## Steps to reproduce
Use the following settings:
[code]
This is intended to simulate the default VS2017 C# formatting.

## Expected behavior
[code]

## Actual behavior
[code]

[2017-11-13 08:48] Leopotam commented on #31
@apkd

Its default value

Did you tried without this setting (true by default)? Looks like what you want.

[2017-11-13 09:07] apkd commented on #31
@Leopotam
Setting `csharpfixformat.style.spaces.beforeParenthesis` to true results in other inconsistencies with the default VS2017 formatting style (eg. space before argument list in method calls). I find it that this is the style most often used by C# programmers (also in Microsoft documentation and samples, as well as the .NET reference source itself) so it probably should be replicable, if not

[2017-11-13 09:17] Leopotam commented on #31
@apkd so, how should be formatted `var t = ((10))` (is space between last ")" should be there) and `var t = ((10)), s = 1` (is space before "," should be there)?

[2017-11-13 09:43] Leopotam commented on #31
@apkd its not `spaces.beforeParenthesis` issue, but `spaces.afterParenthesis` with any next non alphanumeric char. Can you check last state of develop branch? is issue fixed for you?

[2017-11-13 10:02] apkd commented on #31
It seems that fixes the issue. Thanks!

[2017-11-13 10:07] Leopotam commented on #31
@apkd 0.0.41 released on official marketplace, you can uninstall custom package and install public release. if this extension useful for you, can you write review at marketplace, please? :)

[2017-11-13 10:07] #31 closed

[2017-11-16 09:22] Siccity opened #32 ""No csharp formatter installed""
This started happening right after updating vscode. It had been working fine until then.

## Environment data
### C# FixFormat extension version:
v0.0.42

### VsCode version:
1.18.0

## Steps to reproduce
`alt+shift+f`

## Expected  behavior
Format file

## Actual behavior
![billede](https://user-images.githubusercontent.com/6402525/32883451-bea2deea-cab7-11e7-8d16-8985d038c8f4.png)

[2017-11-16 10:16] NakOh commented on #32
Me too -> If you use OmniSharp,  Setting Perference

  // Enable/disable default C# formatter (requires restart).
  "csharp.format.enable": true,

But this only

void Start()
{
}

I want

void Start(){
}

.. Maybe Bug

[2017-11-16 10:29] Leopotam commented on #32
@Siccity very strange behaviour - looks like vscode dont allow to register and react on language at same plugin with standard activation events. I'll try to find way to fix it, but now you can just install official omnisharp c# extension from microsoft - it will register "csharp" language for all other extensions and all will work as must.

@NakOh this issue appears only when no other C# plugins i

[2017-11-16 10:33] NakOh commented on #32
@Leopotam Yes, I installed omnisharp and fixed C# Format. But

I command "editor.action.formatDocument".

But Just

void Start()
{
}

No

void Start(){
}

I tried to change preference.. but did not work.

[2017-11-16 10:36] Leopotam commented on #32
@NakOh wait, you installed omnisharp, installed c#fixformat, reloaded vscode, on first start c#fixformat said - you should set csharp.format.enable=false, you agreed, right? then all should works.

[2017-11-16 10:37] NakOh commented on #32
If I set csharp.format.enable = false, it has same Problem.

![image](https://user-images.githubusercontent.com/7420198/32886908-96f6b814-cb05-11e7-9f79-e231a24d1f89.png)

[2017-11-16 10:41] Leopotam commented on #32
@NakOh omnisharp extension installed?

[2017-11-16 10:48] NakOh commented on #32
<img width="772" alt="2017-11-16 7 47 08" src="https://user-images.githubusercontent.com/7420198/32887376-0fa44118-cb07-11e7-89b3-989bfda23d80.png">

this?

[2017-11-16 11:24] Leopotam commented on #32
@Siccity @NakOh looks like i found problem, will wix it in next version.

[2017-11-16 11:52] Leopotam commented on #32
@Siccity @NakOh can you check last state of develop branch? is issue fixed for you?

[2017-11-16 11:56] Siccity commented on #32
Yes! Works for me now :)

[2017-11-16 12:10] Leopotam commented on #32
@Siccity 0.0.43 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-11-16 12:10] #32 closed

[2017-11-19 14:35] apkd opened #33 "Inconsistent/invalid formatting for operator overloads"
## Environment data
### C# FixFormat extension version:
0.0.43

### VsCode version:
1.18.1

## Expected  behavior
Expected the following formatted output:
[code]

## Actual behavior
Invalid spaces before/after operator name.

`spaces.beforeParenthesis: false`
[code]

`spaces.beforeParenthesis: true`
[code]

[2017-11-19 14:56] apkd opened #34 "Expression-bodied members disallow expression body on next line"
## Environment data
### C# FixFormat extension version:
0.0.43

### VsCode version:
1.18.1

## Expected  behavior
Formatting the following code should not result in any formatting changes:
[code]
The Visual Studio 2017 formatter leaves indentation in this case to the programmer. I personally think same-line, next-line and next-line indented are all valid options. The same-line or next-line arrow p

[2017-11-19 15:07] apkd opened #35 "Inconsistent/invalid formatting of optional method arguments"
## Environment data
### C# FixFormat extension version:
0.0.43

### VsCode version:
1.18.1

## Expected  behavior
No space after named argument name:

[code]

## Actual behavior
Invalid space before the `:` character depending on kind of provided argument. Only string literal arguments are formatted correctly.

[code]

By the way, should I keep those issues coming as I encounter more edge cases li

[2017-11-19 15:17] Leopotam commented on #34
@apkd

In current implementation only new expression can be placed at same indentation with previous one, otherwise all parts of of not completed expression will be placed on +1 indentation:
[code]
Without real c# AST parser "expression-bodied members" will be parsed as standard expression.

[2017-11-19 15:22] Leopotam commented on #35
I think i should update description of extension that it will never support new features after C#3.5. :)

[2017-11-19 15:24] apkd commented on #35
I see, I'm just posting all issues I encountered to see if any of them can be fixed with relative ease :) Feel free to close any issues you determined to be impossible/too much work to implement.

[2017-11-19 15:25] Leopotam commented on #33
@apkd i think space between operator and "(" should respect "spaces.beforeParenthesis" rule.

[2017-11-19 15:29] apkd opened #36 "Invalid multi-line object/collection initializer syntax formatting"
## Environment data
### C# FixFormat extension version:
0.0.43

### VsCode version:
1.18.1

## Expected  behavior
[code]

## Actual behavior
Errors with formatting of multi-line object and dictionary initializers. Array initializers and single-line initializers seem to be formatted correctly.

[code]

[2017-11-19 15:34] apkd commented on #33
@Leopotam I agree. I've edited the issue to add formatter output in both cases (neither is completely correct). Also note the occasional lack of space before the operator name.

[2017-11-19 20:20] Leopotam commented on #33
@apkd can you check last state of develop branch? is issue fixed for you?

[2017-11-19 20:27] #34 closed

[2017-11-19 20:51] Leopotam commented on #35
@apkd can you check last state of develop branch? is issue fixed for you?

[2017-11-20 17:21] Leopotam commented on #33
@apkd no feedback, closed as fixed. 0.0.44 version released on marketplace.

[2017-11-20 17:21] #33 closed

[2017-11-20 17:21] Leopotam commented on #35
@apkd no feedback, closed as fixed. 0.0.44 version released on marketplace.

[2017-11-20 17:21] #35 closed

[2017-11-21 14:28] Leopotam commented on #36
@apkd i think its not possible for nested "{ }" chars at initialization part with full context analysis :( For last case (parser think that its method, not structure declaration + initialization) i can suggest add comment for each item - it should help to keep formatting:
[code]

[2017-11-21 14:28] #36 closed

[2017-11-21 19:26] apkd commented on #33
Sorry, I've been a bit busy with work. The latest update appears to have fixed the issue, thanks for the timely response.

[2017-11-29 14:52] JSBmanD opened #37 "Deep settings of parenthesis"
Hello, I need setting for parenthesis to place space before it in statements' constructions (if ()). And I don't need spaces in the other places. Is it possible?

[2017-11-29 18:52] Leopotam commented on #37
Edit, please, issue with predefined template, because now not clear what you want.

[2017-11-30 13:55] JSBmanD commented on #37
## Environment data
### C# FixFormat extension version:
Last

### VsCode version:
Last

## Steps to reproduce
- Set setting "csharpfixformat.style.spaces.beforeParenthesis": false

## Expected  behavior
One more setting like "csharpfixformat.style.spaces.beforeParenthesisInStatements": true
will place space after statement (if ()
{})

## Actual behavior
All spaces before parenthesis will be remove

[2017-11-30 14:26] Leopotam commented on #37
@JSBmanD Well, any method call is expression too, but you dont want to see spaces in this case, right? Looks like you want to add special case for space after c# keywords only?

[2017-11-30 14:36] JSBmanD commented on #37
@Leopotam yes, exactly.

[2017-11-30 21:53] Leopotam commented on #37
@JSBmanD so, can you provide keywords list that should be splitted from parenthesis?

[2017-12-01 09:03] Kloeve opened #38 "Invalid #region indentation when tab uses"
## Environment data
### C# FixFormat extension version:
0.0.45

### VsCode version:
1.18.1

## Steps to reproduce
Using format document on c# files, with "csharpfixformat.style.indent.regionIgnored" set to true or false, doesn't seem to make a difference. Regions are indentet either way.

## Expected  behavior
[code]

## Actual behavior
[code]

[2017-12-01 10:19] MarcPerezAtelierMirari opened #39 "Bitwise assignment operators Indentation"
## Environment data
"<<=" left shift assignment
">>=" right shift assignment
### C# FixFormat extension version:
v0.0.45

### VsCode version:
VsCode Insiders 1.19.0 x64

    "csharp.format.enable": false,
    "csharpfixformat.style.spaces.beforeParenthesis": false,
    "csharpfixformat.style.spaces.afterParenthesis": false,

## Steps to reproduce
Indent (ctrl + K, ctrl + F) a "<<=" or ">>=".

## E

[2017-12-01 10:26] Leopotam commented on #38
@Kloeve cant reproduce issue on new file with your code only, looks like it side effect of something around this code block.

[2017-12-01 10:41] Leopotam commented on #39
@MarcPerezAtelierMirari can you check last state of develop branch? is issue fixed for you?

[2017-12-01 10:55] Kloeve commented on #38
Thanks for trying it.

I've done some more testing, and the odd part is that it doesn't seem to happen to any c# file i've created in VS Code, but only with the files i've create through Unity3D. (I realise that's likely not what you use VS Code for, but it's worth mentioning.)

I've stripped down a project (with settings), to two simple cSharp files called Works.cs and WorksNot.cs, where one scri

[2017-12-01 11:04] Kloeve commented on #38
There might be no need for the sample project.

It seems the file that works is set to "Spaces: 4" in the rigth lower corner.

Where the one that doesn't work is set to Tab Size: 4. If i change it to Spaces: 4 it works as expected.

I can solve it with that for now, but shouldn't it work no matter what indentation i use?

[2017-12-01 11:08] Leopotam commented on #38
@Kloeve problem not in size of indentation in spaces, but in using tabs as indentation char. "Works"-file uses spaces, "NotWorks" uses tabs. Looks like vscode dont use automatic correction even on
[code]
settings, i will think about it.

[2017-12-01 11:23] Leopotam commented on #38
@Kloeve can you check last state of develop branch? is issue fixed for you?

[2017-12-01 11:33] MarcPerezAtelierMirari commented on #39
I just tried the develop branch and it works ^^

[2017-12-01 11:33] #39 closed

[2017-12-01 12:56] Kloeve commented on #38
It seems to work in both my actually project and the sample one.

You continue to be a wizard at bug solving. Thanks Leopotam~!

[2017-12-01 13:00] Leopotam commented on #38
0.0.46 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-12-01 13:00] #38 closed

[2017-12-01 13:01] Leopotam commented on #38
@Kloeve if this extension useful for you, can you write review at marketplace, please? :)

[2017-12-01 13:01] Leopotam commented on #39
0.0.46 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-12-01 13:02] Leopotam commented on #39
@MarcPerezAtelierMirari if this extension useful for you, can you write review at marketplace, please? :)

[2017-12-03 17:35] Leopotam commented on #37
Closed, will be reopened after info will be provided.

[2017-12-05 06:24] NakOh opened #40 "I have trouble formatting"
## Environment data
### C# FixFormat extension version:
0.0.46

### VsCode version:
1.18.1

## Steps to reproduce
I have

<img width="464" alt="2017-12-05 3 23 00" src="https://user-images.githubusercontent.com/7420198/33592876-3516ed74-d9d0-11e7-9fdf-13b1ebaa9205.png">

## Expected  behavior

I don't want to fix format "\n"..

## Actual behavior

If i fix format

<img width="818" alt="2017-12-05

[2017-12-05 08:41] Leopotam commented on #40
@NakOh cant reproduce it on simple code:
[code]
looks like its side effect of code around this block (non-balanced braces / double quotes). can you provide invalid file?

[2017-12-05 08:54] NakOh commented on #40
[AutoProgramedScript.cs.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1530337/AutoProgramedScript.cs.zip)

Here

[2017-12-05 09:07] Leopotam commented on #40
@NakOh ok, strange behaviour on combination of:
[code]
will try to fix it.

[2017-12-05 12:48] Leopotam commented on #40
@NakOh can you check last state of develop branch? is issue fixed for you?

[2017-12-05 14:48] NakOh commented on #40
Good! Nice work! Thank you

[2017-12-05 15:17] Leopotam commented on #40
@NakOh 0.0.47 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-12-05 15:17] #40 closed

[2017-12-05 19:14] Leopotam commented on #40
@NakOh if this extension useful for you, can you write review at marketplace, please? :)

[2017-12-06 01:29] NakOh commented on #40
Of Course~

[2017-12-11 05:44] NakOh opened #41 "I have trouble"
## Environment data
### C# FixFormat extension version:
0.0.50

### VsCode version:
1.18.1

## Steps to reproduce
![1](https://user-images.githubusercontent.com/7420198/33817208-aa1ffa24-de81-11e7-9a5d-5246feb00fce.PNG)

## Expected  behavior
I don't know

## Actual behavior
Maybe Fix Format Bug

[VST_Main.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1546660/VST_Main.zip)
- Here i

[2017-12-11 09:30] Leopotam commented on #41
@NakOh just add blank line between methods - it will fix all issues:
[code]

[2017-12-11 13:08] Leopotam commented on #41
@NakOh 0.0.51 released on official marketplace, this issue should be auto-fixed in it.

[2017-12-11 13:08] #41 closed

[2017-12-12 01:44] NakOh commented on #41
Thank you

[2017-12-13 11:05] LavaPatrik opened #42 "Newline added between attributes"
## Environment data
The following started happening after I updated to v0.0.51
### C# FixFormat extension version: 0.0.51
### VsCode version: 1.18.1
## Steps to reproduce
Update C# FixFormat to v0.0.51
Create a new cs file with the following contents:
[code]
Save file and let it auto format

## Expected  behavior
The file should look like this
[code]

## Actual behavior
But the file looks like thi

[2017-12-13 11:12] NiklasBorglund commented on #42
I have this problem too, and it makes classes with multiple attributes very much less readable.  Please let us know how we can reach a solution.

[2017-12-13 11:14] Leopotam commented on #42
@LavaPatrik @NiklasBorglund will fix it in next few hours.

[2017-12-13 11:14] LavaPatrik commented on #42
{
    "editor.fontSize": 18,
    "window.zoomLevel": 0,
    "editor.codeLens": false,
    "editor.wordWrap": false,
    "editor.minimap.enabled": false,
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/.DS_Store": true,
        "**/*.meta": true,
        "**/*.*.meta": true,
        "**/*.unity": true,
        "**/*.unityproj": true,

[2017-12-13 11:17] Leopotam commented on #42
@LavaPatrik @NiklasBorglund if you need solution right now and can't wait - you can download sources of 0.0.50 release and build local vsix package.

[2017-12-13 11:30] LavaPatrik commented on #42
It's not super urgent, more of an annoyance. But thanks!

[2017-12-13 13:49] Leopotam commented on #42
@LavaPatrik can you check last state of develop branch? is issue fixed for you?

[2017-12-13 16:03] LavaPatrik commented on #42
Yes, I just tried it and it works! Thank you!

[2017-12-13 16:12] Leopotam commented on #42
@LavaPatrik 0.0.52 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2017-12-13 16:12] #42 closed

[2017-12-13 18:13] Leopotam commented on #42
@LavaPatrik if this extension useful for you, can you write review at marketplace, please? :)

[2017-12-14 15:55] JSBmanD commented on #37
If, switch, for, while.
P.S. Sorry, didn't notice you message.

[2017-12-14 17:31] Leopotam commented on #37
[never worked #20.](#20)

[2017-12-14 19:01] Leopotam commented on #37
@JSBmanD cant reproduce your issue - even with "csharpfixformat.style.spaces.beforeParenthesis": false - for / if / switch works as you want - with spaces. can you provide c# code with reproducible issue?

[2017-12-14 19:05] JSBmanD commented on #37
It's not an issue, it's a suggestion of feature. I need separate settings for if, switch, for, while alongside with setting  "csharpfixformat.style.spaces.beforeParenthesis".

[2017-12-14 19:20] Leopotam commented on #37
@JSBmanD i mean, if / switch / for operators ignores this setting - space will be inserted in all cases.

[2017-12-14 19:45] JSBmanD commented on #37
@Leopotam oh, I don't know why I thought another way. How about setting for keeping case on 1 line when 1 line of code needed? Like:
`switch (sth)
		{
			case sth1: do(); break;
			case sth2: do1(); break;`

[2017-12-14 19:45] #37 closed

[2017-12-14 20:12] Leopotam commented on #37
@JSBmanD bad idea because alot of code cases can be written in one line. btw, for each programmer length of this line can be different. :)

[2017-12-19 14:01] StewMcc opened #43 "Format all C# files formats with spaces instead of tabs."
## Environment data
### C# FixFormat extension version:
0.0.52

### VsCode version:
1.19

## Steps to reproduce
 - Right click folder
 - click "C#FixFormat: fix C# files"
## Expected  behavior
Format all files with similar behaviour to format document.

## Actual behavior
Formats document with spaces instead of tabs.

## Notes
Similiar to https://github.com/Leopotam/vscode-csharpfixformat/issues/2

[2017-12-19 14:07] Leopotam commented on #43
@StewMcc well, it should works with same settings as individual one. I can suggest to disable autodetection of indentation type and force use spaces:
[code]

[2017-12-19 14:35] StewMcc commented on #43
Editing these settings still ends up with format all ignoring the .editorconfig settings, which it seems to honor when using "Format Document".

Find it odd that it worked on individual format documents, but not on format all?

[2017-12-19 16:19] Leopotam commented on #43
@StewMcc no, any external configs are ignored by extension, only vscode settings in use (global or per workspace at .vscode folder). I mean - I dont know, maybe vscode respect .editorconfig files internaly, I request vscode for user settings through api.

[2017-12-19 16:27] StewMcc commented on #43
Fair enough, odd one, will just not use format all, guess it must be something in vscode editorconfig that is changing it but still allows it to use your fix's. Awesome plugin anyway!

[2017-12-19 16:27] #43 closed

[2018-01-01 06:07] yhvicey opened #44 "Support for Object Initializer indent"
## Expected  behavior

[code]

## Actual behavior

[code]

[2018-01-01 10:19] Leopotam commented on #44
@yhvicey cant reproduce issue with your code example, both styles "braces.onSameLine"=true and braces.onSameLine=false formatting correctly. Looks like side effects from code around. If you want to format nested initializators - no, its not supported.

[2018-01-03 00:00] Leopotam commented on #44
@yhvicey issue closed, will be reopened after new info will be provided.

[2018-01-03 02:24] clt829 opened #45 "Do-while loops always format with opening brace on same line."
## Environment data
Windows 10 Pro 1709 16299.125

### C# FixFormat extension version:
Version 0.0.52

### VsCode version:
Version 1.19.1

## Steps to reproduce
* Create a C# file with a `do { } while();` loop
* Set "csharpfixformat.style.braces.onSameLine": false
* Format document with Alt-Shift-F

## Expected  behavior
[code]

## Actual behavior
[code]

[2018-01-03 08:31] Leopotam commented on #45
@clt829 can you check last state of develop branch? is issue fixed for you?

[2018-01-03 20:11] clt829 commented on #45
Issue is fixed in develop branch 0.0.53
-Thanks!

[2018-01-03 22:01] Leopotam commented on #45
@clt829 0.0.53 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-03 22:01] #45 closed

[2018-01-03 22:01] Leopotam commented on #45
@clt829 if this extension useful for you, can you write review at marketplace, please? :)

[2018-01-06 20:58] LordColus commented on #44
I'm having the same problem.
VSCode: v 1.18.0
C# FixFormat: v 0.0.53

Settings:
`"csharp.format.enable": false,`
`"csharpfixformat.style.braces.onSameLine": false,`
`"csharpfixformat.style.spaces.beforeParenthesis": false,`
`"editor.formatOnSave": true`

[2018-01-06 21:01] Leopotam commented on #44
@LordColus can you provide cs-file with example code where I can reproduce issue?

[2018-01-06 21:15] LordColus commented on #44
Ok, this is bizarre.
![screen shot 2018-01-06 at 3 12 58 pm](https://user-images.githubusercontent.com/29384525/34644001-3bbcbd56-f2f4-11e7-9182-90a8af9aa6f0.png)
![screen shot 2018-01-06 at 3 13 16 pm](https://user-images.githubusercontent.com/29384525/34644002-405ecb6a-f2f4-11e7-9f1e-00cd6cd09ffd.png)

It only formats weird when the test string is commented or not there.

[2018-01-06 21:16] LordColus commented on #44
I removed the field in my original file and the formatter started working again.

[2018-01-06 21:22] Leopotam commented on #44
@LordColus can you edit your post with textual version, please? You can paste your code here with wrap it with ``` or use https://gist.github.com

[2018-01-06 21:24] LordColus commented on #44
Sorry! Here it is:
[code]

[2018-01-06 21:50] Leopotam commented on #44
@LordColus can you check last state of develop branch? is issue fixed for you?

[2018-01-06 21:57] LordColus commented on #44
The dev branch did not fix it.

[2018-01-06 21:58] Leopotam commented on #44
@LordColus are you sure that you tested develop branch instead of master? Version should be 0.0.54.

[2018-01-06 21:59] LordColus commented on #44
Yes, version is 0.0.54; has not fixed it.

[2018-01-06 22:02] Leopotam commented on #44
@LordColus its strange, because i cant reproduce issue on your code and with your settings again. What if you will add something to file and save it to force reformat?

[2018-01-06 22:04] LordColus commented on #44
When forced to format, it still doesn't indent.

[2018-01-06 22:07] Leopotam commented on #44
@LordColus to be sure - can you uninstall all c#fixformat extension versions (remove, reload vscode, if exists - repeat) and try this:
[csharpfixformat-0.0.54.vsix.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1609261/csharpfixformat-0.0.54.vsix.zip)

[2018-01-06 22:12] LordColus commented on #44
That works!

[2018-01-06 22:16] Leopotam commented on #44
@LordColus it means that you did something wrong with code from develop branch :)

nevermind, 0.0.54 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-06 22:16] #44 closed

[2018-01-06 22:17] Leopotam commented on #44
@LordColus if this extension useful for you, can you write review at marketplace, please? :)

[2018-01-06 22:17] LordColus commented on #44
Will do! Thanks for the fix!

[2018-01-09 13:07] yhvicey commented on #44
Sorry for being busy these days. I'm formatting code like these:
[code]
And it can't be formatted with correct indent. Is this nested initializators? I'm not native speaker and not familiar with these concepts.

VSCode version: 1.19.1
Ext version: 0.0.54

[2018-01-09 14:10] Leopotam commented on #44
@yhvicey read readme, please.

[2018-01-09 15:51] yhvicey opened #46 "Method call on nullable value get formatted incorrect sometimes"
## Environment data
### C# FixFormat extension version:
0.0.54

### VsCode version:
1.19.1

## Steps to reproduce
Declare a type and create a list of its object, then use `FirstOrDefault` method and access its property by '?.' operator
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

[2018-01-09 15:52] yhvicey commented on #44
Alright, my fault. Found another little bug and create a new issue: #46

[2018-01-09 16:07] Leopotam commented on #46
@yhvicey can you check last state of develop branch? is issue fixed for you?

[2018-01-10 13:54] yhvicey commented on #46
Fixed. Thank you!

[2018-01-10 14:37] Leopotam commented on #46
@yhvicey 0.0.55 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-10 14:37] #46 closed

[2018-01-16 07:38] LavaNiklas opened #47 "Hash sign in custom warnings is being formatted to their own line, breaking the warning"
## Environment data
### C# FixFormat extension version: 0.0.55

### VsCode version: 1.19.1

## Steps to reproduce
Create a new cs file with the following contents:
[code]
Save file and let it auto format.

These are my fixformat settings:
[code]
## Expected  behavior
The file should look like this
[code]
## Actual behavior
But the file looks like this instead
[code]

[2018-01-16 07:49] Leopotam commented on #47
@LavaNiklas can you check last state of develop branch? is issue fixed for you?

[2018-01-16 07:55] LavaNiklas commented on #47
@Leopotam Yes, it works when I build it from develop - 0.0.56. Thanks!

[2018-01-16 07:59] Leopotam commented on #47
@LavaNiklas 0.0.56 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-16 07:59] #47 closed

[2018-01-16 08:00] Leopotam commented on #47
@LavaNiklas if this extension useful for you, can you write review at marketplace, please? :)

[2018-01-16 08:04] LavaNiklas commented on #47
@Leopotam Yup, you already have a 5 star review from me there :)

[2018-01-21 05:19] fernandokm opened #48 "Indentation broken by interpolated strings containing escaped braces"
## Environment data
### C# FixFormat extension version:
0.0.56

### VsCode version:
1.19.2

## Steps to reproduce
1. Create a file with the following contents:
[code]
2. Format the file.

## Expected  behavior
The file should not change:

[code]

## Actual behavior
Four extra spaces are inserted before the line `var a = $"{{"`:

[code]

This issue can be exacerbated by changing the namespace from

[2018-01-21 21:15] Leopotam commented on #48
@fernandokm can you check last state of develop branch? is issue fixed for you?

[2018-01-21 22:00] fernandokm commented on #48
It's working now. Thanks!

[2018-01-21 22:03] Leopotam commented on #48
@fernandokm 0.0.57 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-21 22:03] #48 closed

[2018-01-21 22:03] Leopotam commented on #48
@fernandokm if this extension useful for you, can you write review at marketplace, please? :)

[2018-01-24 17:24] jeffreyschoch opened #49 "Spaces are automatically inserted before flow control parenthesis"
## Environment data
### C# FixFormat extension version:
v0.0.57

### VsCode version:
v1.19.2

## Steps to reproduce
Set false the "csharpfixformat.style.spaces.beforeParenthesis" setting. Write any C# flow control block (if, for, while, etc).  Apply auto-formatting of the document, observe the space before the opening parentheses.

## Expected  behavior
Setting "csharpfixformat.style.spaces.before

[2018-01-24 17:57] Leopotam commented on #49
@jeffreyschoch it will break compatibility - flow control spaces - part of common style. What if new property will be added about this use case?

[2018-01-24 18:02] jeffreyschoch commented on #49
@Leopotam I see. Yes if you're willing to add a new setting to override the common style, that would also solve the issue for me. Thanks for the quick response, let me know if you need any more info about this.

[2018-01-24 18:31] Leopotam commented on #49
@jeffreyschoch can you check last state of develop branch? is issue fixed for you?
"style.spaces.removeAfterCommands" option was added.

[2018-01-24 18:46] jeffreyschoch commented on #49
I just downloaded and installed the dev branch version.  I see the new setting, and configured it as such:
![capture](https://user-images.githubusercontent.com/10616707/35350702-c1bccf1a-010c-11e8-98e6-efdc8448ead7.PNG)

I'm not seeing any changes to the auto-format action, spaces are still inserted before the given commands.

[2018-01-24 18:49] Leopotam commented on #49
@jeffreyschoch

before? you asked about removing space **after** commands. can you share extension version from vscode extension panel?

[2018-01-24 18:50] jeffreyschoch commented on #49
@Leopotam Sorry that was a typo, in my mind these spaces are "before parenthesis", but yes also after the command keywords.

[2018-01-24 18:52] Leopotam commented on #49
@jeffreyschoch can you remove previous installation and check this one?
[csharpfixformat-0.0.58.vsix.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1661253/csharpfixformat-0.0.58.vsix.zip)

[2018-01-24 18:58] jeffreyschoch commented on #49
@Leopotam That vsix version works correctly, the applied formatting removes the spaces after the commands.

The only remaining issue is in the case of commands like "using" which can be used in a context with parenthasis, and without. The currently implementation doesn't handle that:

![example](https://user-images.githubusercontent.com/10616707/35351279-6ad66fce-010e-11e8-8326-990408a2230e.PNG)

[2018-01-24 19:18] jeffreyschoch commented on #49
@Leopotam Excellent, this works perfectly.  I really appreciate the support.  This fulfills my request completely, let me know if there's anything else you need from me regarding this issue.

Thank you!

[2018-01-24 19:23] Leopotam commented on #49
@jeffreyschoch 0.0.58 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-24 19:23] #49 closed

[2018-01-24 19:23] Leopotam commented on #49
@jeffreyschoch if this extension useful for you, can you write review at marketplace, please? :)

[2018-01-24 19:26] jeffreyschoch commented on #49
@Leopotam I will be sure to do that.

[2018-01-25 17:43] jeffreyschoch opened #50 "Inconsistent spacing around casts"
## Environment data
### C# FixFormat extension version:
v0.0.58

### VsCode version:
v1.19.2

## Steps to reproduce
Apply the following settings to the workspace:
[code]
recreate this example class:
[code]

Apply the autoformatter and observe the spacing around the casts.

## Expected  behavior
Spaces will consistently be added before and/or after parentheses according to the workspace/user settin

[2018-01-25 17:46] jeffreyschoch opened #51 "Inconsistent spacing around colons when using named optional parameters"
## Environment data
### C# FixFormat extension version:
v0.0.58

### VsCode version:
v1.19.2

## Steps to reproduce
Apply the following settings to the workspace (my current settings, not sure if relevant here):
[code]
recreate this example class:
[code]

Apply the autoformatter and observe the spacing around the colons.

## Expected  behavior
Spaces will consistently be added before and/or after

[2018-01-25 18:47] Leopotam commented on #50
@jeffreyschoch so, all spaces between logical operators and cast parentheses should be removed?

[2018-01-25 19:30] Leopotam commented on #50
@jeffreyschoch can you uninstall previous version and check this one?
[csharpfixformat-0.0.59.vsix.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1665373/csharpfixformat-0.0.59.vsix.zip)

[2018-01-25 19:40] jeffreyschoch commented on #50
That version appears to apply the formatting correctly. Nice work!

[2018-01-25 21:19] Leopotam commented on #51
@jeffreyschoch can remove previous version and try this one?
[csharpfixformat-0.0.59.vsix.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1665705/csharpfixformat-0.0.59.vsix.zip)

[2018-01-25 21:30] jeffreyschoch commented on #51
That appears to have fixed the inconsistency.  Thanks again for your time and effort!

[2018-01-25 21:32] Leopotam commented on #51
@jeffreyschoch 0.0.59 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-25 21:32] #51 closed

[2018-01-25 21:33] Leopotam commented on #50
@jeffreyschoch 0.0.59 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-01-25 21:33] #50 closed

[2018-01-26 16:27] winiciuscota opened #52 "Attributes on enum being moved to previous line"
## Environment data
### C# FixFormat extension version:
0.0.59

### VsCode version:
1.19.3

## Steps to reproduce

Type the following code and then run fixformat command
[code]

## Expected  behavior

Code gets formated the expected way

[code]

## Actual behavior

Attributes are moved to the previous line.

[code]

[2018-01-26 16:33] Leopotam commented on #52
@winiciuscota there are no real c# parser / validator, so, it cant be fixed in simple manner. I can only suggest to add comments for each enum value:

[code]

[2018-01-26 16:33] #52 closed

[2018-01-26 16:38] winiciuscota commented on #52
Can't you just check if the last character was a comma?

[2018-01-26 16:46] Leopotam commented on #52
@winiciuscota there are no any "c# attribute" behaviour, its already hacked for enums without attributes, sorry. You can use commented code or wrap code with /* fixformat xxx */ defines (described at readme).

[2018-01-26 17:00] winiciuscota commented on #52
Ok, thank you.

[2018-01-29 08:00] 41407 opened #53 "Option to disable indentation of classes within namespaces"
An option to disable indentation of classes within namespaces would be awesome. See below for an example.

For instance, when formatting a file, Visual Studio automatically keeps unindented classes within namespaces unindented while VSCode always indents them. I have been looking for a way to disable automatic indentation of classes within namespaces but haven't found one.

Otherwise, many thanks

[2018-01-29 09:07] Leopotam commented on #53
@41407 there are no any differences between `namespace`, `class`, `enum`, etc. This extension is not proper c# parser / ast scanner, its regexp based solution for plain text. Only one case presents - "new scope" with opening "{" and closing "}" braces. So, no, this issue cant be solved fast and with current implementation, sorry about it. Better to wait for official `omnisharp` extension for prope

[2018-01-29 09:07] #53 closed

[2018-01-31 13:18] AOne-T opened #54 "Option to sort Microsoft usings separately (like System)"
When developing for .NET Core you almost couldn't avoid using Microsoft specific namespaces. I think it should be convenient to sort the separately as System namespaces and place them between System and custom namespaces.

Maybe there should be an option for it.

## Environment data
### C# FixFormat extension version:
v0.0.59

### VsCode version:
1.19.3

## Steps to reproduce
Select usings block -

[2018-01-31 13:41] Leopotam commented on #54
@AOne-T

Formatting of selection not supported, format style will be applied to whole document. Just for your information. :)

[2018-02-03 14:04] Leopotam commented on #54
@AOne-T can you check last state of develop branch? is issue fixed for you?

[2018-02-04 09:54] Leopotam commented on #54
@AOne-T no feedback, closed as fixed. 0.0.60 version released on marketplace.

[2018-02-04 09:54] #54 closed

[2018-02-08 02:18] uday0408 opened #55 "C#: #undef is split into "#" and "undef" on separate lines after formatting"
## Environment data
### C# FixFormat extension version: **v0.0.60**

### VsCode version: **1.20.0**

C# preprocessor directive #undef is split into "#" and "undef" on separate lines after formatting. It does not happen with other directives.

## Steps to reproduce

1. Insert line at the top of C# file:

`#undef DEBUG`

2. Format the file

## Expected  behavior

`#undef DEBUG`

## Actual behavior

[2018-02-08 07:09] Leopotam commented on #55
@uday0408 can you check last state of develop branch? is issue fixed for you?

[2018-02-08 13:06] Leopotam commented on #55
@uday0408 no feedback, closed as fixed. 0.0.61 version released on marketplace.

[2018-02-08 13:06] #55 closed

[2018-02-08 20:48] uday0408 commented on #55
I confirm the issue is resolved in 0.0.61 version.

[2018-02-11 11:02] Oleksandr-Silin opened #56 "Allow to configure conditions operators placement"
## Environment data
### C# FixFormat extension version:

0.0.61

### VsCode version:
1.20.0

## Steps to reproduce
 add next code:

[code]

## Expected  behavior
 it will leave it or reformat to next stlye:

[code]

## Actual behavior (reformats to this style)
[code]

[2018-02-11 12:33] Leopotam commented on #56
@Oleksandr-Silin can you check last state of develop branch? is issue fixed for you?

[2018-02-11 19:18] Oleksandr-Silin commented on #56
Amazing! ty it does what i need!

[2018-02-11 20:14] Leopotam commented on #56
@Oleksandr-Silin 0.0.62 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-02-11 20:14] #56 closed

[2018-02-11 20:15] Leopotam commented on #56
@Oleksandr-Silin if this extension useful for you, can you write review at marketplace, please? :)

[2018-02-22 14:40] jlreymendez opened #57 "Spaces before parenthesis in commands but not in functions"
## Environment data
### C# FixFormat extension version:
0.0.64

### VsCode version:
1.20.1

## Steps to reproduce
Write code like:

[code]

## Expected  behavior

So basically I like having spaces before parenthesis in commands but not before function declarations or calls. I notice there is a "style.spaces.removeAfterCommandBeforeParenthesis" which would allow me to do the opposite.

So I propose

[2018-02-22 14:43] Leopotam commented on #57
@jlreymendez did you tried `style.spaces.beforeParenthesis=false` and `style.spaces.addAfterCommandBeforeParenthesis="keyword1 keyword2"` with all commands that you wanted to see splitted with space?

[2018-02-22 14:45] Leopotam commented on #57
@jlreymendez what about `style.spaces.beforeParenthesis=false`?

[2018-02-22 21:11] jlreymendez commented on #57
@Leopotam I'm sorry. I was pretty sure I had tested that, but maybe the name led me to believe that it would remove the spaces after statements (if, for, etc.). Thanks for your quick reply!

[2018-02-22 21:11] #57 closed

[2018-02-22 21:13] Leopotam commented on #57
@jlreymendez if this extension useful for you, can you write review at marketplace, please? :)

[2018-03-08 04:39] nexussays opened #58 "Thoughts on using omnisharp.json or some other configurable definition?"
Just wondering if you'd consider respecting `formattingOptions` in omnisharp.json in the working directory ahead of the VSCode settings. It would make it much easier to share settings across all devs on a project.

https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options

Defaults: https://github.com/OmniSharp/omnisharp-server/blob/master/OmniSharp/config.json

[2018-03-08 06:43] Leopotam commented on #58
From readme:

If you dependent only on `omnisharp` - better to wait when official omnisharp extension will provide proper formatting and use it instead of this extension.

Reasons, why I dont like idea of any external files (for ex. omnisharp.json):
* I cant control any adding / removing / updating settings at omnisharp.json.
* It can be not clear when I set some workspace / project formatting set

[2018-03-08 07:15] nexussays commented on #58
Thanks for your reply. I disagree with your reasoning but appreciate the explanation. Thanks for the extension!

[2018-03-08 08:12] #58 closed

[2018-03-08 14:47] ataias opened #59 "Is there a way to use C# Fix Format on the command line?"
I was wondering if there is a command line to use C# Fix Format or any other tool that you guys would recommend. For me, it would be nice to have a command line util so that it is easier to integrate it with git hooks.

[2018-03-08 16:29] Leopotam commented on #59
This extension designed to work inside of `vscode` infrastructure - it cant be run outside of `vscode` as standalone app. As solution, you can use `"editor.formatOnSave": true` for autoformatting on any file save.

[2018-03-10 06:01] #59 closed

[2018-03-23 11:46] DifficultNick opened #60 "Produce API"
I'll be very thankful if you will produce API for `class FormatProvider` cause I want to use it in my extension with special language.

As I understand, this can be done by adding just one string:
`return {FormatProvider};`
at the end of your activate function.

Thanks!

[2018-03-23 12:42] Leopotam commented on #60
Not sure that it will be enough for api, better to create additional command and use it through vscode api:
[code]

Can you check this case with version from "develop" branch?

[2018-03-23 20:37] DifficultNick commented on #60
![image](https://user-images.githubusercontent.com/18598163/37848906-cbdb3768-2ee6-11e8-94e2-26e6ac823e60.png)

But how should i use it?

More information about my need: my language has embedded C#, so I need to format some parts of string as C# (and your ext do this very nice!). As soon as I've got some FormatProvider, I can only format selected text or the whole document (am I right?).

But if y

[2018-03-23 20:53] Leopotam commented on #60
And how you will provide formatting options then? Why you think that `activate` function will work for you? You cant control it, its part of extension registration and you cant call it directly (vscode does it once and in valid place), same for `deactivate`. You can register new instance of formatter as [standard formatter for your language (with proper lang-id / extension)](https://github.com/Leo

[2018-03-23 21:09] DifficultNick commented on #60
I will just activate your extension (if it's not active already) and than get function in this way:
[code]
as written in [extensions namespace documentation](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_extensions)
And your extension will take all its options itself.
I've tested it with "develop" branch code, it seems everything works well.

[2018-03-23 21:42] Leopotam commented on #60
[code]

@DifficultNick, its good for you?

[2018-03-24 05:54] DifficultNick commented on #60
Yeah, this is just what I need!

[2018-03-24 06:33] Leopotam commented on #60
@DifficultNick check then "develop" branch, please.

[2018-03-24 07:49] DifficultNick commented on #60
It works great!

[2018-03-24 07:56] Leopotam commented on #60
@DifficultNick 0.0.65 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-03-24 07:56] #60 closed

[2018-03-24 07:57] Leopotam commented on #60
@DifficultNick if this extension useful for you, can you write review at marketplace, please? :)

[2018-03-29 22:21] rraallvv opened #61 "Please add option to turn off Egyptian style brackets"
Visual Studio for Mac doesn't have support for Egyptian style brackets, so it'd be very welcome to have a way to turn it off and have brackets formatted like VS for Mac does. Otherwise one might end up with a mixture of different brackets formatting styles overtime.

Keep up the good work!

[2018-03-29 22:24] Leopotam commented on #61
@rraallvv did you checked `README` description of options?

[2018-03-29 22:33] rraallvv commented on #61
@Leopotam it did the trick, thanks.

[2018-03-29 22:33] #61 closed

[2018-03-31 11:20] AmirSavand opened #62 "New line at the end of file"
When I format the script, the line at the end of file gets removed.

Is there an option to add a new line at the end of file?

[2018-03-31 13:10] Leopotam commented on #62
There are no special behaviour for new lines - any whitespace characters from start and end of source code will be force removed in current implementation.

[2018-03-31 13:31] Leopotam commented on #62
@AmirSavand can you check last state of develop branch? is issue fixed for you?

[2018-03-31 13:38] AmirSavand commented on #62
I don't know how to do so.

[2018-03-31 13:40] Leopotam commented on #62
@AmirSavand check this:
[csharpfixformat-0.0.66.vsix.zip](https://github.com/Leopotam/vscode-csharpfixformat/files/1865507/csharpfixformat-0.0.66.vsix.zip)

[2018-03-31 18:47] Leopotam commented on #62
@AmirSavand no feedback, closed as fixed. 0.0.66 version released on marketplace.

[2018-03-31 18:47] #62 closed

[2018-04-01 01:02] valtism opened #63 "Same line brace style should be false by default"
For better or for worse, the most widely adopted brace style convention in C# is Allman style. Because of that, I think that this extension should use that style as default instead of K&R style.

[2018-04-01 08:50] Leopotam commented on #63
Its my default code style and you have ability to set your custom style, so, nothing will be changed. If you dont like default behaviour, you can wait when microsoft omnisharp extension will support it.

[2018-04-01 08:50] #63 closed

[2018-04-01 08:55] Leopotam commented on #63
@valtism duplicate: #25

[2018-04-02 10:46] seoriy opened #64 "csharpfixformat.style.spaces.beforeParenthesis and csharpfixformat.style.spaces.afterParenthesis options should be false by default"
## Environment data
### C# FixFormat extension version:
0.0.66
### VsCode version:
1.21.1

## Actual behavior
[code]
By default settings, it adds spaces before '(' and after ')'.

## Expected  behavior

It's not a common practice - to add spaces before '(' and after ')'. Take a look at any .cs file in .NET Core repository, for example (like https://github.com/dotnet/corefx/blob/master/src/Microsof

[2018-04-02 10:52] Leopotam commented on #64
Answer is same as at #25 - its my codestyle and I will dont break backward compatibility. If you dont like default behaviour, you can wait when microsoft omnisharp extension will support it.

[2018-04-02 10:52] #64 closed

[2018-04-09 19:15] gersonmartins opened #65 "Formatting error on Digit Separator in Numeric Literal - C# 7"
## Environment data
### C# FixFormat extension version:

0.0.66

### VsCode version:

Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:30.761Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64 - Linux

## Steps to reproduce

Write a numeric literal variable or property with underscore as a digit separator. This feature was introduced on C# 7 (Visual

[2018-04-09 20:03] Leopotam commented on #65
@gersonmartins can you check last state of develop branch? is issue fixed for you?

[2018-04-10 01:06] gpoole opened #66 "Nesting an enum inside class adds extra indentation to following properties"
## Environment data
### C# FixFormat extension version:
0.0.66

### VsCode version:
1.21.1

## Steps to reproduce

Adding a nested enum to any class seems to cause all the following properties to be indented up to the first method. For example in this class:

[code]

## Expected  behavior

[code]

## Actual behavior

[code]

[2018-04-10 01:09] gpoole commented on #66
I've also noticed a different version of the problem if I move the enum declaration above the class:

[code]

[2018-04-10 07:39] Leopotam commented on #66
@gpoole just remove `;` after enum - it will fix issue:
[code]

[2018-04-10 07:46] Leopotam commented on #65
@gersonmartins no feedback, closed as fixed. 0.0.67 version released on marketplace.

[2018-04-10 07:46] #65 closed

[2018-04-10 14:54] Haaxor1689 opened #67 "Multiline initialization"
## Environment data
### C# FixFormat extension version:
v0.0.67

### VsCode version:
1.22

## Steps to reproduce
One of the know issues with multiline object initiallizers used in Linq GroupJoin function. What would the suggestion be here when I can't declare the variable outside of the call?

## Expected  behavior

[code]

## Actual behavior

[code]

[2018-04-10 15:11] Leopotam commented on #67
@Haaxor1689 there are no real C# AST parser, so, its impossible to do context-related indentation. You can try to extract lambda method to static one at current class and use it.

[2018-04-10 15:57] #67 closed

[2018-04-14 09:52] wdscxsj opened #68 "Feature request: an option for not indenting "case""
Many code formatters for C-family languages provide an option to not indent "case" statements. I guess a similar option like `csharpfixformat.style.indent.caseIgnored` will benefit C# code, too. Thanks a lot for your consideration.

[2018-04-14 21:31] Leopotam commented on #68
@wdscxsj can you check last state of develop branch? is issue fixed for you?

[2018-04-15 03:13] wdscxsj commented on #68
It works wonderfully. Thank you!

[2018-04-15 04:37] Leopotam commented on #68
@wdscxsj 0.0.68 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-04-15 04:37] #68 closed

[2018-04-15 04:38] Leopotam commented on #68
@wdscxsj if this extension useful for you, can you write review at marketplace, please? :)

[2018-04-15 05:10] wdscxsj commented on #68
@Leopotam So glad to. Just posted the review. :)

[2018-04-15 05:13] Leopotam commented on #68
@wdscxsj thanks!

[2018-04-15 05:31] wdscxsj commented on #68
@Leopotam Another glitch I've noticed (which may not warrant its own issue report) is formatting `enum`s with a trailing `;`. For example:

[code]

will be formatted to:

[code]

As my C# is too rusty, I take this as a reminder that the trailing `;` is unnecessary (though harmless). But someone may think it's the formatter's fault...

[2018-04-15 05:33] Leopotam commented on #68
#66

[2018-04-15 05:35] wdscxsj commented on #68
Thanks! A reminder it is. 😄

[2018-04-18 11:57] demilich1 opened #69 "Feature request: More control over spaces"
I would like to request more granular control over where FixFormat places spaces.

Specifically I would like to split the setting
`csharpfixformat.style.spaces.beforeParenthesis`

into at least two new settings
[code]

The use case is that I do want spaces before parenthesis when having an if-block:
`if (condition == true)`
but I don't want spaces in function definitions or calls, i.e.
`public voi

[2018-04-18 12:01] Leopotam commented on #69
@demilich1 setting `style.spaces.beforeParenthesis=false` should works as you wants without additional work.

[2018-04-18 13:50] Leopotam commented on #69
@demilich1 if this extension useful for you, can you write review at marketplace, please? :)

[2018-04-22 17:28] zcr1 opened #70 "Feature Request - Conditional Else on Separate Line"
It would be useful to have ability to place conditionals on a separate line of the closing bracket i.e.
[code]

Apologies if the setting is already in and I missed it. Thanks for the awesome extension!

[2018-04-22 17:47] Leopotam commented on #70
@zcr1 what about next behaviour?
[code]

[2018-04-22 18:25] zcr1 commented on #70
I prefer `Should open braces be kept on expression line (K&R style) or on new line` to be true so I guess i use a combination of both? It's not a big deal either way as I can deal with it :)

[2018-04-22 20:08] Leopotam commented on #70
@zcr1 try-catch will be formatted with same rule as if-esle, its ok?

[2018-04-22 21:11] Leopotam commented on #70
@zcr1 can you check last state of develop branch? is issue fixed for you?

[2018-04-22 22:53] zcr1 commented on #70
Tested it out and it works on my end. Thanks a lot, much appreciated!

[2018-04-22 22:53] #70 closed

[2018-04-23 05:26] Leopotam commented on #70
@zcr1 0.0.69 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-04-23 05:31] Leopotam commented on #70
@zcr1 if this extension useful for you, can you write review at marketplace, please? :)

[2018-05-05 01:58] tommai78101 opened #71 "Request: Can "csharpfixformat.sort.usings.order" sort by alphabetical order, alphanumeric order, and by length of string names?"
### C# FixFormat extension version: 0.0.69
### VsCode version: Stable 1.23

This is a feature request to add more sorting algorithms for `using` preprocessor directives. Right now, there is only 1 sort order given, `System`. I would like to see more options.

- Alphabetical Order - Based on entire namespace string's alphabetical order from left to right.

It's only sorted based on ASCII characters

[2018-05-05 07:25] Leopotam commented on #71
You can check `sort.usings.order` option - you can set any order for well-known namespaces (even per project).

Sorry, its not 100% C# specs compatible extension, even on features. For full C# specs you can wait for official omnisharp extension. As for me, using unicode (or any non-latin chars) in identifier names - very bad idea.

It will conflict with `sort.usings.order` option.

Main idea of th

[2018-05-06 03:58] tommai78101 commented on #71
1. Oh, so that's how you use `sort.usings.order`. I believed I would need to specify what namespaces take priority when sorting them, and list them in order from left to right.

    If that's the case, then that's one thing I got right about, since I was confused about the option when I was checking the `readme.md`.

2. OK, I can wait for omnisharp for the formatting. It's just, I thought that the

[2018-05-06 15:14] tommai78101 commented on #71
I never knew this.

[2018-05-06 15:41] Leopotam commented on #71
https://stackoverflow.com/questions/14829853/vs2012-sort-usings-doesnt-move-system-usings-first

[2018-05-06 20:45] Leopotam commented on #71
@tommai78101 another one article with details: https://blogs.msdn.microsoft.com/zainnab/2010/06/29/organize-usings-c-only/

[2018-05-07 17:32] tommai78101 commented on #71
@Leopotam Thanks again.

[2018-05-08 19:17] #71 closed

[2018-05-11 08:53] TheHacky opened #72 "Feature Request: Indent code in preprocessor block"
Hi,

I downloaded your extension some minutes ago and it is so much better than the classical omnisharp formatting. So, nice work have you done.

I have one question. Will it be possible to add an option for indenting a code block between a preprocessor block.

## Expected  behavior
[code]

## Actual behavior
[code]

Thanks.

Best regards,
David

[2018-05-11 09:00] Leopotam commented on #72
Indentation should works in same manner with or without preprocessor defines - its standard behaviour in all editors. You can change preprocessor defines indentation (not code blocks inside) with  `csharpfixformat.style.indent.preprocessorIgnored` option.

[2018-05-11 09:01] #72 closed

[2018-05-11 09:23] TheHacky opened #73 "Feature Request: Same Indentation for multiline parameters"
Hi,

what's about indentation for multiline parameters?

## Expected  behavior
[code]

## Actual behavior
[code]

Thanks.

Best regards,
David

[2018-05-11 09:27] Leopotam commented on #73
There are no real AST parser of C# specs. It means - formatter dont know where are first parameter, just check possible end of expression based on braces / parantesis balance + simple indentation for each new level of nested expressions. Sorry, but I think, this extension will not help you in this case.

[2018-05-11 09:30] TheHacky commented on #73
Is okay. Your extension is brilliant and I have write you a review on marketplace. Actually, the best indentation extension I found.

[2018-05-11 09:30] #73 closed

[2018-05-12 16:06] jamesst20 opened #74 "Known issue : Multiline initialization for new instance as parameter for method will not be formatted correctly"
Hi,

Sorry if it was asked already.

I would like to know if this known issue is known and not planned to be fixed, or if it is planned to be fixed.

Thank you

[2018-05-12 16:07] Leopotam commented on #74
@jamesst20 check readme first.

[2018-05-12 16:09] Leopotam commented on #74
@jamesst20 well, official omnisharp will provide some codestyle rules i hope. When - who knows... :(

[2018-05-12 16:12] jamesst20 commented on #74
I see. Currently doing ASP.Net Core development on Mac, and honestly Visual Studio for Mac is crappy at the moment. VSCode is way much better at pretty much everything, except this little formatting bug specifically.

I will use a variable in the mean time or just close my eyes on the little indentation bug in the meantime :)

Have you planned fixing it?

[2018-05-12 16:16] Leopotam commented on #74
As I said - current implementation doesnt know that its C# :) Its mostly based on common part between JS and C# + regular expressions for hacks in corner cases. For fixing your issue extension should implement 100% valid C# source specs parser (write omnisharp copy in pure js), that I will totally dont want to do from scratch. Better to ask MS-guys at omnisharp team when they will do normal format

[2018-05-20 09:28] zEh- opened #76 "Some named arguments still get a space before the colon"
## Environment data
### C# FixFormat extension version:
0.0.70

### VsCode version:
1.23.1

## Steps to reproduce
Reformat:
[code]

## Expected  behavior
No change.

## Actual behavior
Formatted to:
[code]

[2018-05-20 12:44] Leopotam commented on #76
@zEh- issue partially fixed, but there is one "by design" behaviour - extension is not valid C# specs parser, but regular expression fixer without context dependent behaviour. Its why string constants between `" "` double quotes cant be used as values, this case will be added as corner case to README at new version:

### Named parameters with string consts as values can be formatted wrong:
*Expect

[2018-05-21 15:10] Leopotam commented on #76
@zEh- no feedback, closed as fixed. 0.0.71 version released on marketplace.

[2018-05-21 15:10] #76 closed

[2018-06-07 07:59] grofit opened #77 "Split code formatting off into its own csharp formatter for js beautify?"
I have a scenario where I am looking to beautify generated c# code in a node process, and your library seems to do most of what I need, but all I need is the formatter bit for jsbeautify.

So would you be open to split the formatter into its own npm module that can be used with js beautify without needing vscode etc, then you can just reference that module from this project?

If its too much hassl

[2018-06-14 19:02] sirgru opened #78 "Destroys formatting of manual horizontal positions"
After formatting, all the manual horizontal positions are destroyed.
For example, if variables are "vertically aligned", this will be reduced to a space. This happens even when tabs are not converted to spaces.

[2018-06-18 07:37] Leopotam commented on #78
Its default behaviour of this extension. If you want to keep manual formatting - better  to uninstall this extension and use omnisharp extension only, looks like it will work as you want.

[2018-06-18 07:49] Leopotam commented on #77
Sorry for long delay, Im still on vacation. I have no planes to extract formatter as standalone npm module, because it means that I should provide support and fixes for all possible cases. I have no time for this, sorry. This extension was planned only as temporary replacement / features extending of official c# extension for vscode (omnisharp), nothing more. This extension will be deprecated when

[2018-06-18 09:08] grofit commented on #77
ok thanks for the response

[2018-06-18 09:08] #77 closed

[2018-06-21 14:47] #78 closed

[2018-06-26 20:57] Falthazar opened #79 ""Format Document" doesn't work if another document formatter exists"
## Environment data
### C# FixFormat extension version: 0.71
### VsCode version: 1.24.1

If another extension, in this case CS-Script, has a _document_ formatter, C# Fixformat will not run on the document when you run "Format Document".

The CS-Script formatter is disabled, but I think that because it is still implementing "vscode.DocumentFormattingEditProvider" it overwrites FixFormats formatter.

[2018-06-26 21:31] Leopotam commented on #79
@Falthazar can you try to uninstall `CS-Script` extension and check again?

[2018-06-26 21:44] Falthazar commented on #79
Sorry! Forgot to put that in the initial post. Disabling the CS-Script extension makes fix format work normally.

[2018-06-26 21:52] Leopotam commented on #79
@Falthazar then its how format extensions works inside vscode. Solution - making request to author of `CS-Script` for optional disabling format feature through user settings, like i did here for omnisharp: https://github.com/OmniSharp/omnisharp-vscode/issues/1711

[2018-06-27 10:07] #79 closed

[2018-07-08 20:52] clragon opened #80 "Space between parenthesis and &"
## Environment data
### C# FixFormat extension version:
0.0.71

### VsCode version:
1.25.0

## Steps to reproduce
- New `.cs` file
- following user settings:
[code]

- if statement like this:
[code]
- format (ALT+SHIFT+F)

## Expected  behavior
I would appreciate if there would be a setting or default behavior that leads to an if statement like this:
[code]

## Actual behavior
But the actual resul

[2018-07-09 07:12] Leopotam commented on #80
@clragon can you check last state of develop branch? is issue fixed for you?

[2018-07-09 09:37] TheHacky opened #81 "Sometimes text parameters will be split into multiple lines"
## Environment data
### C# FixFormat extension version:
0.0.71

### VsCode version:
1.25.0

## Steps to reproduce
[code]

or

[code]

## Expected  behavior
[code]

or

[code]

## Actual behavior
[code]

or

[code]

I can also send you an example file if needed, but I think it happens after the Verbatimstring for all following strings.

[2018-07-09 10:15] Leopotam commented on #81
@TheHacky can you check last state of develop branch? is issue fixed for you?

[2018-07-09 10:58] TheHacky commented on #81
@Leopotam It seems to work. Nice! You are awesome! :)

[2018-07-09 17:00] Leopotam commented on #80
@clragon no feedback, closed as fixed. 0.0.72 version released on marketplace.

[2018-07-09 17:00] #80 closed

[2018-07-09 17:00] Leopotam commented on #81
@TheHacky 0.0.72 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-07-09 17:00] #81 closed

[2018-07-10 10:52] clragon commented on #80
@Leopotam Sorry, I didn't have time. It's fixed indeed, thanks alot!

[2018-07-19 06:35] andrewb273 opened #82 "csharpfixformat.style.spaces.afterBracket not applying to parameter attribute tag"
## Environment data
### C# FixFormat extension version:
0.0.72

### VsCode version:
1.25.1

## Steps to reproduce
1. Set `"csharpfixformat.style.spaces.afterBracket": false`
2. Add a function with an attribute tag on a parameter, like so

    public IActionResult DoStuff([FromQuery] int param)
    {
    	//...
    }
3. Auto-format

## Expected  behavior
Space after `]` is removed

## Actual behavi

[2018-07-19 07:01] Leopotam commented on #82
@andrewb273 there are no real AST parser of C# specs. It means - formatter dont know where are attributes and they can be applied to parameters, just check possible end of expression (java / javascript) based on braces / parantesis balance + simple indentation for each new level of nested expressions. Sorry, but I think, this extension will not help you in this case, better to wait for official om

[2018-07-19 07:01] #82 closed

[2018-07-19 07:06] andrewb273 commented on #82
Ah ok, makes sense and all good. It's not a bad handling in any case, so we can probably cope. Thanks for your work & the lightning quick response - rare to find such a heavily used repo with no outstanding issues!

[2018-07-20 07:16] sirius0xff opened #83 "switch case format problem"
## Environment data
### C# FixFormat extension version:
0.0.72

### VsCode version:
1.25.1

## Steps to reproduce
format the following code:

[code]

## Expected  behavior
[code]

## Actual behavior

Two problems

[code]

Thank you

[2018-07-20 07:59] Leopotam commented on #83
@sirius0xff there are 2 issues.
1. braces at `case 1`: they are optional and can / should be removed - it will fix issue with invalid indentation.

2. "goto" operator. i'm totally disagree that this operator should even exists in c#, but... can you check last state of develop branch? is issue fixed for you?

[2018-07-20 20:42] Leopotam commented on #83
@sirius0xff no feedback, closed as fixed. 0.0.73 version released on marketplace.

[2018-07-20 20:42] #83 closed

[2018-07-24 08:42] sirius0xff commented on #83
Sorry for late feedback.
About the brace, they actually define scopes which allow different variables of same name to be defined under difference case labels.

[2018-07-24 08:46] Leopotam commented on #83
@sirius0xff sorry, but its not real C# AST parser / lexer and there are no support for nested braces at top level inside case. If you need this behaviour - better to uninstall this extension and wait for official support from Microsoft at their [omnisharp-vscode repo](
https://github.com/OmniSharp/omnisharp-vscode/issues).

[2018-07-25 08:00] sirius0xff commented on #83
No need to feel offended, just some suggestion.
An the update works, thank you very much.

[2018-08-16 08:03] wardie93 opened #84 "Nesting more than two generics causes too many spaces"
## Environment data
### C# FixFormat extension version:

0.0.73

### VsCode version:

1.26.0

## Steps to reproduce

Use the following class, and format the file

[code]

## Expected  behavior

There should not be any spaces between the second and third `>`

## Actual behavior

A space is added between the second and third `>`.

I hope this is enough information, if you need any more let me know.

[2018-08-16 08:50] Leopotam commented on #84
@wardie93 can you check last state of develop branch? is issue fixed for you?

[2018-08-16 09:33] wardie93 commented on #84
Thanks Leopotam for the quick turnaround. That does fix the issue I was having!

Whilst I have you, I'm not sure if this intended or not, or I just have things mis-configured or something. But I am getting a strange formatting for getters/setters. If there is a setting that gives me the expected outcome or something that would be great 😄

Expected:
[code]

Actual
[code]

[2018-08-16 09:33] #84 closed

[2018-08-16 09:36] Leopotam commented on #84
check `csharpfixformat.style.braces.allowInlines` settings, it should be `true` for one-liners.

[2018-08-16 09:41] Leopotam commented on #84
@wardie93 0.0.74 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-08-16 09:41] Leopotam commented on #84
@wardie93 if this extension useful for you, can you write review at marketplace, please? :)

[2018-08-16 11:09] wardie93 commented on #84
Ah, brilliant, thanks.

I set that to `false` for some reason. Can't remember why though to be honest.

Nevermind, I'll continue with it as true. Thanks for all your assistance!

Also, added a review for you!

[2018-09-08 11:38] alizeraatkar opened #85 "csharpfixformat.style.braces.onSameLine"
`"csharpfixformat.style.braces.onSameLine":false `is not working when i set it to false
plz fix this issue
tanks

[2018-09-08 11:52] Leopotam commented on #85
Add details for issue, please. All settings relative to c#fixformat, code with issue for reproducing, etc.

[2018-10-06 13:11] wilhelmliao opened #86 "incorrect formatting on "operators""
## Environment data
### C# FixFormat extension version:
v 0.0.74

### VsCode version:
v 1.27.2

## Steps to reproduce
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

[2018-10-06 22:11] Leopotam commented on #86
@wilhelmliao can you check last state of develop branch? is issue fixed for you?

[2018-10-11 20:24] sundriftproductions opened #87 "Incorrect formatting after lambda => operator"
## Environment data
I have my C# FixFormat settings set up like this:

    "csharpfixformat.style.braces.onSameLine": false,
    "csharpfixformat.style.spaces.beforeParenthesis": false,
    "csharpfixformat.style.spaces.afterBracket": false,
    "csharpfixformat.style.spaces.afterParenthesis": false,
    "csharpfixformat.style.spaces.beforeBracket": false,

### C# FixFormat extension version:
0.0.

[2018-10-11 20:36] Leopotam commented on #87
@sundriftproductions can you check last state of develop branch? is issue fixed for you?

[2018-10-11 23:54] samousavih opened #88 "incorrect format for variable declaration inside another one using new operator"
## Environment data
### C# FixFormat extension version:
0.0.75

### VsCode version:
1.27.2

## Steps to reproduce
When using a new operator to initialise an object inside another one this happens
[code]

## Expected  behavior

But is should be like :
[code]

## Actual behavior

[2018-10-11 23:59] Leopotam commented on #88
@samousavih check `Known issues` section at readme. There are no real AST parser of C# specs. It means - formatter dont know anything about recursive initialization, just check possible end of expression based on braces / parantesis balance + simple indentation for each new level of nested expressions. This extension will not help you, better to wait full specs formatting from [official microsoft

[2018-10-11 23:59] #88 closed

[2018-10-12 13:12] sundriftproductions commented on #87
Yes, it's fixed in the develop branch. Thanks!

[2018-10-12 13:12] #87 closed

[2018-10-12 14:12] Leopotam commented on #87
@sundriftproductions 0.0.76 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2018-10-12 14:13] Leopotam commented on #87
@sundriftproductions if this extension useful for you, can you write review at marketplace, please? :)

[2018-10-19 13:29] sundriftproductions opened #89 "Incorrect formatting within if statement"
## Environment data
I have my C# FixFormat settings set up like this:

     "csharpfixformat.style.braces.onSameLine": false,
     "csharpfixformat.style.spaces.beforeParenthesis": false,
     "csharpfixformat.style.spaces.afterBracket": false,
     "csharpfixformat.style.spaces.afterParenthesis": false,
     "csharpfixformat.style.spaces.beforeBracket": false,

### C# FixFormat extension version:

[2018-10-19 14:09] Leopotam commented on #89
@sundriftproductions check [README](
https://github.com/Leopotam/vscode-csharpfixformat#multiline-initialization-for-new-instance-as-parameter-for-method-will-not-be-formatted-correctly), its known issue (just put declaration to new variable and return it) and cant be fixed due there are no real AST parser of current C# specs. It means - formatter dont know all C# features and its very complex tas

[2018-10-19 14:09] #89 closed

[2018-11-29 12:40] johnnyreilly opened #90 "Object initiatialization works unexpectedly"
## Environment data
### C# FixFormat extension version:

0.0.76

### VsCode version:

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.15063

## Steps to reproduce

Auto format a [class that uses object initializer to new up](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/how-to-i

[2019-01-07 10:36] TheHacky opened #91 "Feature Request: turn off formatting by a comment"
Hi,

is it possible to implement a function to turn off formatting for a section? For example with a comment like this:

//#formatting off
...
//#formatting on

Best regards,
David

[2019-01-07 10:42] Leopotam commented on #91
@TheHacky check [README](https://github.com/Leopotam/vscode-csharpfixformat#special-flags), this behaviour was already described.

[2019-01-07 10:42] #91 closed

[2019-02-02 08:40] djbreen7 opened #92 "Feature Request: Allow Items in List/Array to be on same line"
## Environment data
### C# FixFormat extension version:
0.0.78

### VsCode version:
1.30.2

## Steps to reproduce
Format code

## Expected  behavior
[code]

## Actual behavior
[code]

[2019-02-02 23:13] Leopotam commented on #92
@djbreen7 you can put it on one line with`"csharpfixformat.style.braces.onSameLine": true`:
[code]
Another way to keep custom format - wrap it with special flag in comment:
[code]

Otherwise (from readme):

[2019-02-02 23:14] #92 closed

[2019-02-03 10:58] Leopotam commented on #92
@djbreen7 my mistake, sorry, `"csharpfixformat.style.braces.allowInlines": true`, not `"csharpfixformat.style.braces.onSameLine": true`, first comment updated.

[2019-02-07 01:06] djbreen7 commented on #92
Thanks @Leopotam

[2019-02-07 08:22] kyouma0220 opened #93 "There is no document about how to sort all namespaces"
## Environment data
### C# FixFormat extension version:
v0.0.78

### VsCode version:
January 2019 (version 1.31)

## Steps to reproduce
Look at marketplace Extension Settings.

The description of `sort.usings.order` does not describe how to sort all namespaces.

## Proposal
Add document about ```"csharpfixformat.sort.usings.order": "",```

## Expected  behavior
[code]
[code]

## Actual behavior
[c

[2019-02-07 08:32] Leopotam commented on #93
Current behaviour simulate default settings from `visual studio` - all namespaces sorted alphabetically, but `System.xxx` placed always on top. Its why default value of `"csharpfixformat.sort.usings.order"` settings is `System`.

Usings always sorted alphabetically if `"csharpfixformat.sort.usings.enabled":true` and `"csharpfixformat.sort.usings.order"` setting just initializes `ignore list` of na

[2019-02-08 01:33] Leopotam commented on #93
@kyouma0220 is it clear now?

[2019-02-08 17:05] Leopotam commented on #93
No feedback, closed.

[2019-02-08 17:05] #93 closed

[2019-02-27 22:55] simkessy opened #94 "Format like VS Studio?"
How do I get it to format like VS Studio 2017 because right now it's changing between where I'm editing and I go back and forth a lot.

[2019-02-28 06:36] Leopotam commented on #94
You mean, cursor position changed after code format? Then no how, because this code formatter works as whole-file formatter and if code lines amount will be changed - cursor position will be changed too. If you are talking about source code identity with vs after formatting - there are alot of settings, you can try to tune them for your code style as you want.

[2019-02-28 19:24] simkessy commented on #94
I mean things like adding a space between functions and parentheses or having brackets on a different line, etc. My git diffs are all messed up because the formatting between the two IDEs are different. Wondering if there was a set of known settings I can use or if I just have to keep tweaking things until it's close.

[2019-03-01 00:50] Leopotam commented on #94
All what you want can be tweaked with extension settings, you can find their description at `README`. There are no "rulesets", only separate rules, so, you need to tweak multiple settings.

For example:

`csharpfixformat.style.spaces.beforeParenthesis: false`

`csharpfixformat.style.braces.onSameLine: false`

Just check `README`. And dont forget to read this line:

[2019-03-01 10:09] Leopotam commented on #94
@simkessy is issue fixed for you?

[2019-03-01 18:43] simkessy commented on #94
Some of the settings helped but I still get spacing issues with objects where object properties won't be indented properly and I don't see a setting to fix that.

[2019-03-01 19:16] Leopotam commented on #94
Example? Did you checked [known issues](
https://github.com/Leopotam/vscode-csharpfixformat#known-issues)? This extension is not real c# ast parser, if you need some syntax that not supported right now - better to go to official [omnisharp extension repo](
https://github.com/OmniSharp/omnisharp-vscode/issues) and open issue for support required behaviour from Microsoft developers.

[2019-03-02 05:02] TRM79-Temp opened #95 "Verbatim strings with 2 double quotes formatting"
## Environment data
### C# FixFormat extension version:
0.0.78

### VsCode version:
1.31.1

## Steps to reproduce
View | Command Palette | Format Selection (or Format Document)

## Expected  behavior
C# verbatim strings that contain two double quotes:
            Assert.Equal(@"<a href=""Test/Page1"">1</a>" +
                @"<a href=""Test/Page2"">2</a>" +
                @"<a href=""Test/Page3"

[2019-03-02 05:06] TRM79-Temp opened #96 "'Format Selection' formats overall document"
## Environment data
### C# FixFormat extension version:
0.0.78

### VsCode version:
1.31.1

## Steps to reproduce
View | Command Palette | Format Selection

## Expected  behavior
Formats selection

## Actual behavior
Formats overall document

[2019-03-02 10:09] Leopotam commented on #96
@TRM79-Temp not planned. You can do reproduce this behaviour through:
* New file.
* Select "csharp source" type for file.
* Insert selected code from your file.
* Format it as whole document.

[2019-03-02 10:14] Leopotam commented on #95
@TRM79-Temp I can only suggest you to use [special wrapping for ignore formatting](
https://github.com/Leopotam/vscode-csharpfixformat#special-flags) as quick fix. Cant give you any ETA for real fix.

[2019-03-04 20:17] #96 closed

[2019-03-04 20:18] Leopotam commented on #94
@simkessy no answers, I will re-open this issue again on new information from you.

[2019-03-04 20:18] #94 closed

[2019-03-09 22:08] Leopotam commented on #95
@TRM79-Temp can you check last state of develop branch? is issue fixed for you?

[2019-03-11 15:57] Leopotam commented on #95
@TRM79-Temp no feedback, closed as fixed. 0.0.79 version released on marketplace.

[2019-03-11 15:57] #95 closed

[2019-03-17 13:22] Siccity opened #97 "Destructors cause unwanted formatting"
## Environment data
### C# FixFormat extension version:
0.0.78

### VsCode version:
1.31.1

## Steps to reproduce
Add a destructor to your script https://www.geeksforgeeks.org/destructors-in-c-sharp/

## Expected  behavior
[code]

## Actual behavior
[code]

[2019-03-17 14:25] Leopotam commented on #97
@Siccity can you check last state of develop branch? is issue fixed for you?

[2019-03-18 21:52] Leopotam commented on #97
@Siccity no feedback, closed as fixed. 0.0.80 version released on marketplace.

[2019-03-18 21:52] #97 closed

[2019-04-24 14:07] aarro opened #98 "Generic with named tuple adds spaces before and after every angle bracket"
## Environment data
### C# FixFormat extension version:

0.0.81

### VsCode version:

1.33.1

## Steps to reproduce

Create a generic class and use a named tuple.

[code]

My current csharpfixformat settings:

[code]

## Expected  behavior

[code]

## Actual behavior

[code]

[2019-04-24 14:18] Leopotam commented on #98
@aarro There are no real AST parser of current C# specs. It means - formatter dont know all C# features and its very complex task to do this for one-man team. Better to wait for official formatter as part of [omnisharp-vscode](https://github.com/OmniSharp/omnisharp-vscode) extension by Microsoft.

[2019-04-24 14:18] #98 closed

[2019-06-30 15:11] GuerreroCraft61 opened #99 "Is possible don't remove the "white space""
## Environment data
### C# FixFormat extension version: 0.0.81

### VsCode version: 1.35.0

## Steps to reproduce
https://gyazo.com/cd8a136938906b188cb414cf7db30c82

## Expected behavior
Don't remove the white space

## Actual behavior
Remove the white space

[2019-06-30 15:44] Leopotam commented on #99
@GuerreroCraft61 I dont see any problems with current behaviour due its standard behaviour for microsoft omnisharp formatter too.
You can just dont keep empty line between braces and indents will be kept. When you will write new C# expression and reformat code - correct indent will be added.

[2019-07-01 18:10] fabiob opened #100 "Is it possible to only use the "Organize Imports" feature?"
Hi. I'm a big fan of your extension. Unfortunately we're using some of the C# newest features, and sometimes the formatter does more harm than good. So I've recently switched back to the OminSharp formatter.

However, I really miss the way your extension sorts and organizes the `using`s. So my question is: is it possible to extract just that part of your extension, so we can have a "Organize Impor

[2019-07-01 21:14] Leopotam commented on #100
@fabiob `csharpfixformat.style.enabled` = false

But better to request this feature from microsoft dev team of omnisharp.

[2019-07-01 21:59] #99 closed

[2019-07-02 06:09] JOJOJOFran opened #101 "how to set tab size"
## Environment data
### C# FixFormat extension version:
0.0.81

### VsCode version:
1.35.1

## Steps to reproduce
I don't khow set tab size effectively

## Expected  behavior

## Actual behavior

[2019-07-03 08:27] #100 closed

[2019-07-03 08:30] Leopotam commented on #101
@JOJOJOFran its part of vscode settings, not this extension: `editor.tabSize`: 2

[2019-07-05 04:23] avin-shum commented on #101
@Leopotam It seems that the extension does not honor the vscode setting.

I have created a sample Hello World project to test: https://github.com/avin-shum/csharp-helloworld

I can change the tab size of Program.cs using C# extension but not C# FixFormat.

[2019-07-06 00:07] Leopotam commented on #101
@avin-shum cant reproduce issue on your project - when I press "format document" - 4 spaces converted to 2 spaces, all works as must. Maybe you use another formatter? You can try to change it with "Format document with..." option from context menu and select then "C# FixFormat" option.

[2019-07-07 17:47] Leopotam commented on #101
@JOJOJOFran is issue fixed for you?

[2019-07-07 23:12] fabiob commented on #100
I'll give this a shot, thank you :)

[2019-07-08 02:29] avin-shum commented on #101
@Leopotam I have 2 formatters installed, "C#" by Microsoft and "C# FixFormat". I reinstalled both extensions but the result is the same.

I found that when I open Program.cs, "Spaces: 4" appears at the bottom right corner. So I changed it to 2, then C# FixFormat can change the tab size.

Then I checked my Settings and found that there is a VSCode configuration "editor.detectIndentation" to detect

[2019-07-08 10:27] Leopotam commented on #101
@avin-shum but it means, that omnisharp ignores some editor settings and this extension do it in proper manner, isnt it?

[2019-07-10 12:58] Leopotam commented on #101
No feedback, closed as solved.

[2019-07-10 12:58] #101 closed

[2019-07-26 13:51] UnsolvedCypher commented on #66
If this is the case, could you add functionality to automatically remove the semicolon so that the formatting can happen correctly? It seems unintuitive that otherwise the formatting gets messed up for seemingly no reason.

[2019-07-26 21:17] Leopotam commented on #66
@UnsolvedCypher can you check last state of develop branch? is issue fixed for you?

[2019-07-28 10:25] Leopotam commented on #66
@UnsolvedCypher no feedback, closed as fixed. 0.0.82 version released on marketplace.

[2019-07-28 10:25] #66 closed

[2019-07-31 19:31] LeedsCode opened #102 "enum in variable name causes incorrect formatting"
## Environment data
### C# FixFormat extension version:
0.0.82

### VsCode version:
1.36.1

## Steps to reproduce
Paste the following code in a new file. After saving, format the file.

	using System.Linq;
	using System.Reflection;

	public static class EnumExtensions {
		public static string GetDescription<T>(this T enumValue) {
			var genericEnumType = typeof(T);
			MemberInfo[] memberInfo = gen

[2019-08-01 08:23] Leopotam commented on #102
@LeedsCode can you check last state of develop branch? is issue fixed for you?

[2019-08-03 13:57] Leopotam commented on #102
@LeedsCode no feedback, closed as fixed. 0.0.83 version released on marketplace.

[2019-08-03 13:57] #102 closed

[2019-08-15 00:36] cosmo-naut opened #103 "How do I configure it to apply formatting as I type without needing to call the format command"
## Environment data
### C# FixFormat extension version:
0.0.83

### VsCode version:
1.37.0

## Steps to reproduce
Type `void test() {}`
I press enter and it turns to
[code]

## Expected  behavior
Why is it so hard that I can't find a way to put the curly brace on the next line by default.
I know this is not your fault I just wonder if your extension is capable of this
I have been searching for how

[2019-08-15 08:11] Leopotam commented on #103
@cosmo-naut did you read [README](https://github.com/Leopotam/vscode-csharpfixformat/blob/master/README.md)? There are 2 options:

Set both settings to `false` to get what you want.

[2019-08-15 18:17] Leopotam commented on #103
@cosmo-naut is issue fixed for you?

[2019-08-17 10:39] Leopotam commented on #103
Closed as fixed.

[2019-08-17 10:39] #103 closed

[2019-08-19 07:35] AtsushiYamashita opened #104 "Newline had bad work with backslash and ignore comments"
## Environment data
### C# FixFormat extension version:

v0.0.83

### VsCode version:

Version: 1.37.1 (user setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

## Steps to reproduce

Try fix this code by this.
[code]

## Expected  behavior

I think, wi

[2019-08-20 18:49] Leopotam commented on #104
@AtsushiYamashita cant reproduce bug. I created empty file, added example and all works as must. looks like you found some side effect of surrounding code.

[2019-08-21 07:46] avin-shum opened #105 "Strange formatting for verbatim string ends with slash"
## Environment data
### C# FixFormat extension version:
0.0.81

### VsCode version:
Version: 1.35.1
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:30:02.622Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.1.7601

## Steps to reproduce
Format the following class
[code]

## Expected  behavior
Nothing changed.

## Actual behavior
[code]

[2019-08-21 18:39] Leopotam commented on #105
@avin-shum can you check last state of develop branch? is issue fixed for you?

[2019-08-22 04:30] avin-shum commented on #105
It fixed the example, but if I format,

[code]

It becomes,
[code]

[2019-08-22 07:29] Leopotam commented on #105
@avin-shum my bad, can you check again?

[2019-08-22 09:15] avin-shum commented on #105
@Leopotam It looks good. Thanks.

[2019-08-22 10:03] Leopotam commented on #105
@avin-shum 0.0.84 released on official marketplace, you can uninstall custom package and install public release. thanks.

[2019-08-22 10:03] #105 closed

[2019-08-22 10:16] Leopotam commented on #104
Will be reopened on new info.

[2019-08-22 10:16] #104 closed

[2019-11-19 16:47] AndrewYinLi opened #106 "Incorrect formatting for const int declarations on same line"
## Environment data
### C# FixFormat extension version:
`0.0.84`

### VsCode version:
`1.40.1`

## Steps to reproduce
Declare and then format the following:
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

[2019-11-21 12:38] Leopotam commented on #106
@AndrewYinLi sorry, but i have no time to support this extension anymore. Better to write ticket to [omnisharp-team](https://github.com/OmniSharp/omnisharp-vscode/issues) for support proper formatting with custom styles out the box.

[2019-11-21 12:38] #106 closed

[2019-12-02 13:37] AskoldMakaruk opened #107 "Extra spaces when using anonymous types with generics"
## Environment data
### C# FixFormat extension version:
0.0.84

### VsCode version:
1.40.2

## Steps to reproduce
`public class Test
{
    public List < (int, int) > Array;
}`

## Expected  behavior

`public class Test
    {
        public List <(int, int)> Array;
    }`
## Actual behavior
Spaces after `<` and before `>` aren't removed.

[2019-12-02 13:53] Leopotam commented on #107
@AskoldMakaruk sorry, but i have no time to support this extension anymore. Better to write ticket to [omnisharp-team](https://github.com/OmniSharp/omnisharp-vscode/issues) for support proper formatting with custom styles out the box.

[2019-12-02 13:53] #107 closed